<div id="notfound">
  <div class="notfound">
    <div class="notfound-404">
      <h1>Oops!</h1>
    </div>
    <h2>500 - Server Error</h2>
    <a (click)="goBack()">Go Back</a>
  </div>
</div>
