<div class="container fileUploadWrapper" style="margin: 0px; padding: 0px;">
    <form [formGroup]="form">
        <div class="row" style="border: 2px solid #f26e29;">
            <!-- Progress Bar -->
            <div class="col-12" *ngIf="progress">
                <div class="progress form-group">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                        [style.width.%]="progress">
                    </div>
                </div>
            </div>

            <div class="col-12" style="background-color: #f26e29; cursor: pointer;">
                <div class="fileupload" appDragDropFileUpload (click)="fileField.click()"
                    (fileDropped)="upload($event)">
                    <span class="ddinfo" style="font-weight: 500; font-size: 22px; color: white; font-family: Arial, Helvetica, sans-serif;">Добави изображения</span>
                    <input type="file" name="avatars" #fileField (change)="upload($event.target.files)" hidden multiple>
                </div>
            </div>

            <div class="col-12">
                <div class="image-list" *ngFor="let file of fileArr; let i = index" style="border-bottom: 2px solid #f26e29; margin-top: 10px;">
                    <div class="profile">
                        <img style="width: 300px; height: 230px;" [src]="sanitize(file['url'])" alt="">
                    </div>
                    <p>{{file.item.name}}</p>
                </div>
                <!-- <p class="message">{{msg}}</p> -->
            </div>
        </div>
    </form>
</div>
