<!-- Navbar ADMIN -->
<mdb-navbar *ngIf="isAdmin === true" SideClass="navbar navbar-expand-lg white " [containerInside]="false" style="width: 100% !important;">
    <mdb-navbar-brand>
      <a class="navbar-brand" routerLink="">
          <img src="./../assets/logo.png" height="60px" width="auto" style="margin-right: 0px; margin-left: 20px;">
      </a>
    </mdb-navbar-brand>

    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-light nav-text" style="color: #0c3c55" routerLink="users" mdbWavesEffect>Потребители</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link waves-light nav-text" style="color: #0c3c55" routerLink="campaigns" mdbWavesEffect>Кампании<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light nav-text" style="color: #0c3c55" routerLink="ranking" mdbWavesEffect>Класации</a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light nav-text" style="color: #0c3c55" routerLink="centers/all" mdbWavesEffect>Центрове</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light nav-text" style="color: #0c3c55" routerLink="awards" mdbWavesEffect>Награди</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light nav-text" style="color: #0c3c55" routerLink="statistics" mdbWavesEffect>Статистики</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light nav-text" style="color: #0c3c55" routerLink="about-us" mdbWavesEffect>За нас</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item" style="color: #0c3c55; margin-top: 8px; margin-right: 0px !important; padding: 0px; padding-top: 14px;">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="review-requests">
            <mdb-icon *ngIf="hasNotifications === true" fas icon="bell" size="2x" style="color: #f26e29;"></mdb-icon>
            <mdb-icon *ngIf="hasNotifications === false" fas icon="bell" size="2x" style="color: #0c3c55;"></mdb-icon>
          </a>
        </li>
        <!-- <li *ngIf="isAuth === true" class="nav-item" style="color: #0c3c55; margin-top: 8px;">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="profile/55e5082e-a6e3-431b-b9fd-b691bc2d6cc3">
            <mdb-icon fas icon="user" size="1x" style="color: #0c3c55;"></mdb-icon>
            <span class="nav-text-right" style="color: #0c3c55">Профил</span>
          </a>
        </li> -->
        <li *ngIf="isAuth === true" class="nav-item" style="color: #0c3c55; margin-top: 8px;">
          <a class="nav-link waves-light" mdbWavesEffect (click)="logout()">
            <mdb-icon fas icon="sign-out-alt" size="1x"></mdb-icon>
            <span class="nav-text-right" style="color: #0c3c55">Изход</span>
          </a>
        </li>
        <li *ngIf="isAuth === false" class="nav-item" style="color: #0c3c55; margin-top: 8px;">
            <a class="nav-link waves-light" mdbWavesEffect (click)="loginModal.show()">
              <mdb-icon fas icon="sign-in-alt" size="1x"></mdb-icon>
              <span class="nav-text-right" style="color: #0c3c55">Вход</span>
            </a>
        </li>
      </ul>
    </links>
</mdb-navbar>

<!--Navbar - USER + GUEST -->
<mdb-navbar *ngIf="isAdmin === false" SideClass="navbar navbar-expand-lg white " [containerInside]="false" style="width: 100% !important;">
    <mdb-navbar-brand>
      <a class="navbar-brand" routerLink="">
          <img src="./../assets/logo.png" height="60px" width="auto" style="margin-right: 0px; margin-left: 20px;">
      </a>
    </mdb-navbar-brand>

    <links>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link waves-light nav-text" style="color: #0c3c55" routerLink="campaigns" mdbWavesEffect>Кампании<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light nav-text" style="color: #0c3c55" routerLink="ranking" mdbWavesEffect>Класации</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light nav-text" style="color: #0c3c55" routerLink="centers/all" mdbWavesEffect>Центрове</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light nav-text" style="color: #0c3c55" routerLink="awards" mdbWavesEffect>Награди</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light nav-text" style="color: #0c3c55" routerLink="statistics" mdbWavesEffect>Статистики</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light nav-text" style="color: #0c3c55" routerLink="about-us" mdbWavesEffect>За нас</a>
          </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li *ngIf="isAuth === true" class="nav-item" style="color: #0c3c55; margin-top: 8px; margin-right: 0px !important; padding: 0px; padding-top: 14px;">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="notifications">
            <mdb-icon *ngIf="hasMessages === true" fas icon="bell" size="2x" style="color: #f26e29;"></mdb-icon>
            <mdb-icon *ngIf="hasMessages === false" fas icon="bell" size="2x" style="color: #0c3c55;"></mdb-icon>
          </a>
        </li>
        <li *ngIf="isAuth === true" class="nav-item" style="color: #0c3c55; margin-top: 8px;">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="profile/8cbf4c5a-c383-4049-a598-d1e3f86fa5aa">
            <mdb-icon fas icon="user" size="1x" style="color: #0c3c55;"></mdb-icon>
            <span class="nav-text-right" style="color: #0c3c55">Профил</span>
          </a>
        </li>
        <li *ngIf="isAuth === true" class="nav-item" style="color: #0c3c55; margin-top: 8px;">
          <a class="nav-link waves-light nav-text" style="color: #0c3c55" routerLink="my-requests" mdbWavesEffect>
            <mdb-icon fas icon="clone" size="1x" style="color: #0c3c55;"></mdb-icon>
            <span class="nav-text-right" style="color: #0c3c55">Заявки</span>
          </a>
        </li>

        <li *ngIf="isAuth === true" class="nav-item" style="color: #0c3c55; margin-top: 8px;">
            <a class="nav-link waves-light" mdbWavesEffect (click)="logout()">
              <mdb-icon fas icon="sign-out-alt" size="1x"></mdb-icon>
              <span class="nav-text-right" style="color: #0c3c55">Изход</span>
            </a>
          </li>
        <li *ngIf="isAuth === false" class="nav-item" style="color: #0c3c55; margin-top: 8px;">
            <a class="nav-link waves-light" mdbWavesEffect (click)="loginModal.show()">
              <mdb-icon fas icon="sign-in-alt" size="1x"></mdb-icon>
              <span class="nav-text-right" style="color: #0c3c55">Вход</span>
            </a>
        </li>
      </ul>
    </links>
</mdb-navbar>

<!-- Login form -->
<form mdbModal #loginModal="mdbModal" [formGroup]="loginForm" (ngSubmit)="login();" id="login-form" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog" role="document">
     <div class="modal-content">

       <div style="margin: 9px;">
         <button type="button" class="close pull-right" aria-label="Close" (click)="loginModal.hide()">
           <span aria-hidden="true">×</span>
         </button>
         <!-- <span class="modal-title w-100 font-weight-bold" style="align-content: center !important;">Вход</span> -->
         <h5 class="card-header text-center py-4">
               <strong style="color: #1495ba; font-weight: 900;">ВХОД</strong>
         </h5>
       </div>

       <div class="modal-body mx-3">

          <div class="md-form mb-2">
             <mdb-icon fas icon="envelope" class="prefix cyan-text"></mdb-icon>
             <input
                    type="email"
                    class="form-control"
                    mdbInput
                    mdbValidate
                    formControlName="email"
                    id="email-input"
                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                    required>
             <label for="defaultForm-email">Еmail</label>
             <!-- <mdb-error
                *ngIf="loginFormModalEmail.invalid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)"
                >
                Input invalid
             </mdb-error>
             <mdb-success
             *ngIf="loginFormModalEmail.valid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">Input
             valid
             </mdb-success> -->
             <mdb-error *ngIf="!loginForm.controls['email'].valid">
                {{getEmailErrorMessage()}}
             </mdb-error>
          </div>
          <div class="md-form mb-2">
             <mdb-icon fas icon="lock" class="prefix cyan-text"></mdb-icon>
             <input
                    type="password"
                    class="form-control"
                    mdbInput
                    mdbValidate
                    formControlName="password"
                    id="password-input"
                    required>
             <label for="defaultForm-pass">Парола</label>
             <mdb-error *ngIf="!loginForm.controls['email'].valid">
                {{getPassErrorMessage()}}
             </mdb-error>
          </div>

          <div class="" style="margin: 35px;">

              <div class="d-flex justify-content-around">
                    <div>
                          <!-- Remember me -->
                          <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                              <label class="custom-control-label" for="defaultLoginFormRemember">Запомни ме</label>
                          </div>
                    </div>
                    <div>
                          <!-- Forgot password -->
                          <a href="">Забравена парола?</a>
                    </div>
                </div>
          </div>

          <div>
                <!-- Sign in button -->
                <button class="btn btn-info btn-block text-center py-4" (click)="loginModal.hide()"
                style="width: -webkit-fill-available !important;" type="submit">Вход
                </button>
          </div>

          <div class="d-flex justify-content-around" style="margin-top: 25px;">
                <!-- Register -->
                <p>Нямаш акаунт?
                    <a (click)="loginModal.hide(); registerModal.show()" style="color: #1495ba;">Регистрирай се</a>
                </p>
          </div>

          <div class="d-flex justify-content-around" style="margin: 0px;">
                <!-- Social login -->
                <p>или</p>
          </div>

          <div class="d-flex justify-content-around" style="margin: 25px;">
                <mdb-icon size="2x" class="cyan-text" fab icon="facebook-f"></mdb-icon>
                <mdb-icon size="2x" class="cyan-text" fab icon="twitter"></mdb-icon>
                <mdb-icon size="2x" class="cyan-text" fab icon="google-plus-g"></mdb-icon>
          </div>

       </div>
     </div>
   </div>
</form>

<!-- Register form -->
<div mdbModal #registerModal="mdbModal" [formGroup]="registerForm" (ngSubmit)="register();" id="register-form" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog" role="document">
     <div class="modal-content">

       <div style="margin: 9px;">
         <button type="button" class="close pull-right" aria-label="Close" (click)="registerModal.hide()">
           <span aria-hidden="true">×</span>
         </button>
         <!-- <span class="modal-title w-100 font-weight-bold" style="align-content: center !important;">Вход</span> -->
         <h5 class="card-header text-center py-4">
               <strong style="color: #1495ba; font-weight: 900;">РЕГИСТРАЦИЯ</strong>
         </h5>
       </div>

       <div class="modal-body mx-3">

          <div class="md-form mb-2">
             <mdb-icon fas icon="envelope" class="prefix cyan-text"></mdb-icon>
             <input
                    type="email"
                    class="form-control"
                    mdbInput
                    mdbValidate
                    formControlName="emailReg"
                    id="email-input-reg"
                    >
             <label for="defaultForm-pass">Еmail</label>
             <mdb-error *ngIf="!registerForm.controls['emailReg'].valid">
                {{getPassErrorMessageReg()}}
             </mdb-error>
             <!-- <mdb-error
                *ngIf="loginFormModalEmail.invalid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)"
                >
                Input invalid
             </mdb-error>
             <mdb-success
             *ngIf="loginFormModalEmail.valid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">Input
             valid
             </mdb-success> -->
          </div>
          <div class="md-form mb-2">
             <mdb-icon fas icon="lock" class="prefix cyan-text"></mdb-icon>
             <input
                    type="password"
                    class="form-control"
                    mdbInput
                    mdbValidate
                    formControlName="passwordReg"
                    id="password-input-reg"
                    required
                    >
             <label for="defaultForm-pass">Парола</label>
             <mdb-error *ngIf="!registerForm.controls['passwordReg'].valid">
                {{getPassErrorMessageReg()}}
             </mdb-error>
             <!-- <mdb-error
                *ngIf="loginFormModalPassword.invalid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
                Input invalid
             </mdb-error>
             <mdb-success
                *ngIf="loginFormModalPassword.valid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
                Input valid
             </mdb-success> -->
          </div>

          <div class="md-form mb-2">
              <mdb-icon fas icon="lock" class="prefix cyan-text"></mdb-icon>
              <input
                    type="password"
                    class="form-control"
                    mdbInput
                    mdbValidate
                    formControlName="repeatPasswordReg"
                    id="password-input-reg-repeat"
                    >
             <label for="defaultForm-pass">Повтори парола</label>
             <mdb-error *ngIf="!registerForm.controls['repeatPasswordReg'].valid">
                {{getPassErrorMessageReg()}}
             </mdb-error>
              <!-- <mdb-error
                 *ngIf="loginFormModalPassword.invalid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
                 Input invalid
              </mdb-error>
              <mdb-success
                 *ngIf="loginFormModalPassword.valid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
                 Input valid
              </mdb-success> -->
          </div>

          <div class="md-form mb-2">
            <!-- <div class="d-flex justify-content-around">
              <div> -->
                    <!-- Remember me -->
                    <div class="custom-control custom-checkbox" style="margin: 25px;">
                       <input type="checkbox" class="custom-control-input" id="rege">
                       <label class="custom-control-label" for="rege">
                        &nbsp;&nbsp;Съгласен съм с &nbsp;<a (click)="registerModal.hide();" style="font-weight: 300; color: #1495ba; text-decoration: underline;"
                        routerLink="terms-and-conditions">Общите условия</a></label>
                    </div>
              <!-- </div> -->

         <!-- </div> -->
          </div>

          <div style="margin-top: 50px;">
                <!-- Sign up button -->
                <button class="btn btn-info btn-block text-center py-4" (click)="register(); registerModal.hide(); loginModal.show();" style="width: -webkit-fill-available !important;" type="submit">Регистрация</button>
          </div>

          <div class="d-flex justify-content-around" style="margin-top: 35px;">
                <!-- Login -->
                <p>Вече имаш акаунт?
                    <a (click)="registerModal.hide(); loginModal.show();" style="color: #1495ba;">Влез</a>
                </p>
          </div>


       </div>
     </div>
   </div>
</div>

<!-- Main content -->
<div id="container">
  <div id="content" class="content page">
    <div id="page">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- About us -->
<div style="background-color: #1495ba;">
    <p style="font-weight: 300; font-size: 22px; color: white; margin: 0px; font-family: Arial, Helvetica, sans-serif; padding: 15px;">
      <mdb-icon fas icon="star" style="color: white;"></mdb-icon>
      С какво системата <b style="font-weight: 600;">Life of Giving</b> е по-различна? Разбери повече за нас
      <a style="font-weight: 900; color: white; text-decoration: underline;" routerLink="about-us">тук</a>!
    </p>
</div>

<!-- Footer -->
<footer class="page-footer font-small blue" style="padding: 30px; background-color: #0c3c55 !important">

    <div class="container">
      <div class="row">
        <p style="font-weight: 700; font-size: 26px; color: white; font-family: Arial, Helvetica, sans-serif; padding: 15px !important;">
          Нашите спонсори:
        </p>
      </div>
    </div>

    <!-- Footer Elements -->
    <div class="container">

      <!--Grid row-->
      <div class="row">
        <div class="col-lg-2 col-md-12 mb-4">
          <div class="view overlay z-depth-1-half">
            <img src="./../assets/econt.jpg" class="img-fluid" alt="" style="height: 100px;">
            <a>
              <div class="mask rgba-white-light" mdbWavesEffect></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 mb-4">
          <div class="view overlay z-depth-1-half">
            <img src="./../assets/5ff44-529913.jpg" class="img-fluid" alt="" style="height: 100px;">
            <a>
              <div class="mask rgba-white-light" mdbWavesEffect></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4">
          <div class="view overlay z-depth-1-half">
            <img src="./../assets/vmware.jpg" class="img-fluid" alt="" style="height: 100px;">
            <a>
              <div class="mask rgba-white-light" mdbWavesEffect></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 mb-4">
          <div class="view overlay z-depth-1-half">
            <img src="./../assets/Konica-Minolta-Logo.jpg" class="img-fluid" alt="" style="height: 100px;">
            <a>
              <div class="mask rgba-white-light" mdbWavesEffect></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 mb-4">
          <div class="view overlay z-depth-1-half">
            <img src="./../assets/billa.jpg" class="img-fluid" alt="" style="height: 100px;">
            <a>
              <div class="mask rgba-white-light" mdbWavesEffect></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 mb-4">
          <div class="view overlay z-depth-1-half">
            <img src="./../assets/remedium.jpg" class="img-fluid" alt="" style="height: 100px;">
            <a>
              <div class="mask rgba-white-light" mdbWavesEffect></div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Elements -->

    <div class="container-fluid text-center text-md-left" style="margin-top: 20px;">
      <div class="container">
        <div class="row">
          <!-- <div class="col-md-2 mt-md-0 mt-3"></div> -->
  
          <div class="col-md-4 mt-md-0 mt-3 border-right">
            <h4 class="text-uppercase font-weight-bold">"Life of Giving" ЕООД</h4>
            <h6><mdb-icon fas icon="arrow-right" style="padding: 5px;"></mdb-icon>гр.София, ул.Толстох Дол 2В</h6>
            <h6><mdb-icon fas icon="arrow-right" style="padding: 5px;"></mdb-icon>тел: +359 88 333 4222</h6>
            <h6><mdb-icon fas icon="arrow-right" style="padding: 5px;"></mdb-icon><a href="mailto:lifeofgiving@gmail.com">email: <span style="text-decoration: underline;">lifeofgiving@gmail.com</span></a></h6>
            <h6><mdb-icon fas icon="arrow-right" style="padding: 5px;"></mdb-icon><a href="mailto:lifeofgiving@abv.bg">email: <span style="text-decoration: underline;">lifeofgiving@abv.bg</span></a></h6>
          </div>

          <div class="col-md-4 mt-md-0 mt-3 border-right">
            <h4 class="text-uppercase font-weight-bold">Информация:</h4>
            <h6><mdb-icon fas icon="arrow-right" style="padding: 5px;"></mdb-icon><a style="color: white;" routerLink="terms-and-conditions">Кампании</a></h6>
            <h6><mdb-icon fas icon="arrow-right" style="padding: 5px;"></mdb-icon><a style="color: white;" routerLink="services">Центрове</a></h6>
            <h6><mdb-icon fas icon="arrow-right" style="padding: 5px;"></mdb-icon><a style="color: white;" routerLink="how-it-works">Награди</a></h6>
            <h6><mdb-icon fas icon="arrow-right" style="padding: 5px;"></mdb-icon><a style="color: white;" routerLink="subscriptions">За нас</a></h6>
          </div>
  
          <div class="col-md-4 mb-md-0 mb-3" style="margin-left: 0px;">
            <h4 class="text-uppercase font-weight-bold">Последвайте ни:</h4>
            <a class="fb-ic">
              <mdb-icon fab icon="facebook" size="3x" class="white-text mr-md-5 mr-3" style="padding: 15px 0px 15px 15px; margin: 0px !important;"></mdb-icon>
            </a>
            <a class="tw-ic">
              <mdb-icon fab icon="twitter" size="3x" class="white-text mr-md-5 mr-3" style="padding: 15px 0px 15px 0px;"></mdb-icon>
            </a>
            <br>
            <a class="ins-ic">
              <mdb-icon fab icon="instagram" size="3x" class="white-text mr-md-5 mr-3" style="padding: 15px 0px 15px 15px; margin: 0px !important;"></mdb-icon>
            </a>
            <a class="pin-ic">
              <mdb-icon fab icon="pinterest" size="3x" class="white-text mr-md-5 mr-3" style="padding: 15px 0px 15px 0px;"></mdb-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
</footer>

<ngx-spinner bdColor="rgba(255,255,255,0.97)" size="medium" color="#0c3c55" type="ball-scale-pulse">
  <p style="font-size: 20px; font-weight: 900; color:#ba1414; font-family: Arial, Helvetica, sans-serif; padding: 15px;">Зареждане...</p>
</ngx-spinner>
