<div style="margin-top: 40px; margin-bottom: 30px;">

    <div class="row" style="margin: 30px 200px;">
        <div class="col-2" style="margin: 0; padding: 0;">
            <a mdbBtn color="purple" class="waves-light" mdbWavesEffect style="margin: 0;" routerLink="/my-requests">
                <mdb-icon far icon="hand-point-left"></mdb-icon>
                Назад
            </a>
        </div>

        <div class="col-9" style="margin: 0;">

            <h1 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
            font-size: 40px; font-weight: 900; text-align: center; color: #0c3c55; padding-bottom: 20px;">
                Заявка Nº: {{requestObj.reqNumber}}
            </h1>
        </div>
    </div>

</div>

<div  class="row" style="margin: 30px 200px !important;">

    <div class="col-6">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-2" style="font-family: Arial, Helvetica, sans-serif;
            font-weight: 800; font-size: 18px; color: #ba14a4; padding: 0px;">Дата:
            </div>
            <div class="col-5" style="font-family: Arial, Helvetica, sans-serif;
            font-weight: 800; font-size: 18px; color: #0c3c55; padding: 0px;">{{requestObj.reqDate}}
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-2" style="font-family: Arial, Helvetica, sans-serif;
            font-weight: 800; font-size: 18px; color: #ba14a4; padding: 0px;">Статус:
            </div>
            <div *ngIf="requestObj.reqStatus === 'В обработка'" class="col-5" style="font-family: Arial, Helvetica, sans-serif;
            font-weight: 800; font-size: 20px; color: orange; padding: 0px;">{{requestObj.reqStatus}}
            </div>
            <div *ngIf="requestObj.reqStatus === 'Одобрена'" class="col-5" style="font-family: Arial, Helvetica, sans-serif;
            font-weight: 800; font-size: 20px; color: green; padding: 0px;">{{requestObj.reqStatus}}
            </div>
            <div *ngIf="requestObj.reqStatus === 'Отхвърлена'" class="col-5" style="font-family: Arial, Helvetica, sans-serif;
            font-weight: 800; font-size: 20px; color: red; padding: 0px;">{{requestObj.reqStatus}}
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-2" style="font-family: Arial, Helvetica, sans-serif;
            font-weight: 800; font-size: 18px; color: #ba14a4; padding: 0px;">Предмети:
            </div>
            <div class="col-5" style="font-family: Arial, Helvetica, sans-serif;
            font-weight: 800; font-size: 18px; color: #0c3c55; padding: 0px;">
            </div>
        </div>
    </div>

    <div class="col-6">
    </div>

</div>

<div class="row" style="margin: 30px 200px !important; background-color: aliceblue;">
    <div class="col-12"> 
        <table mdbTable>
            <thead>
                <tr>
                    <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                </tr>
            </thead>
            <tbody>
                <tr mdbTableCol *ngFor="let el of itemsArr">
                    <th scope="row">{{el.id}}</th>
                    <td>{{el.itemCat}}</td>
                    <td>{{el.itemName}}</td>
                    <td>{{el.itemQuantity}}</td>
                    <td>{{el.itemDesc}}</td>
                    <td>{{el.itemPoints}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="isAdmin === false && requestObj.reqStatus === 'Одобрена'" class="d-flex justify-content-center" style="margin-bottom: 30px;">
    <button
        type="button"
        class="btn btn-primary btn-lg"
        (click)="bookDate()"
        style="width: 170px; margin-left:10px; margin-top: 5px; height: 68px; width: 250px; background-color: #4f0c55 !important;"
    >Резервирай дата</button>
</div>

<div *ngIf="isAdmin === true" class="row" style="margin: 30px 200px !important;">

    <h2 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 40px; font-weight: 900; text-align: center; color: #0c3c55;">
        Коментари:
    </h2>

    <div class="col-12">
        <form [formGroup]="landForm" (ngSubmit)="(submit)" #formControl="ngForm" style="padding: 0px;">
            <div class="form">
                <textarea class="md-textarea form-control" placeholder="Описание" formControlName="itemDescription" type="text" style="margin-top: 30px;"></textarea>
                <mdb-error *ngIf="!landForm.controls['itemDescription'].valid">{{getErrorMessage()}}</mdb-error>
            </div>
        </form>
    </div>
</div>

<div *ngIf="isAdmin === true" class="d-flex justify-content-center" style="margin-bottom: 30px; margin-top: 50px;">
    <button
        type="button"
        class="btn btn-primary btn-lg"
        (click)="confirmRequest('Declined')"
        style="width: 170px; margin-left:10px; margin-top: 5px; height: 68px; width: 300px; background-color: red !important;"
    >Отхвърляне</button>

    <button
        type="button"
        class="btn btn-primary btn-lg"
        (click)="confirmRequest('Accepted')"
        style="width: 170px; margin-left:10px; margin-top: 5px; height: 68px; width: 300px; background-color: green !important;"
    >Одобряване</button>
</div>