<div style="margin-top: 40px; margin-left: 100px; margin-right: 100px; margin-bottom: 30px;">
    <h1 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 40px; font-weight: 900; text-align: center; color: #0c3c55; padding-bottom: 20px;">
        Моят профил:
    </h1>
</div>

<div class="row" style="padding: 0px 200px;">

  <div class="col-5">
      <div class="row back-to-results" style="justify-content: center; padding-top: 10px;">
          <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4 waves-light" mdbWavesEffect style="border-radius: 50% !important;">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" alt="Sample image" 
            style="width: 350px; height: 350px; border-radius: 50%;">
            <a>
              <div class="mask rgba-white-slight" style="border-radius: 50% !important;"></div>
            </a>
          </div>
      </div>
  </div>

  <div class="col-7">
      <hr style="border: 1px solid white; margin-top: 0px;">

      <div class="row" style="margin-left: 20px; margin-bottom: 10px;">
          <div class="col-6" style="font-family: Arial, Helvetica, sans-serif;
          font-weight: 800; font-size: 26px; color: #ba14a4; padding: 0px;">Информация:
          </div>
          <div class="col-6" style="font-family: Arial, Helvetica, sans-serif;
          font-weight: 800; font-size: 26px; color: #0c3c55; padding: 0px;">
          </div>
      </div>

      <div class="row" style="margin-left: 20px; margin-bottom: 10px;">
          <div class="col-6" style="font-family: Arial, Helvetica, sans-serif;
          font-weight: 800; font-size: 20px; color: #0c3c55; padding: 0px;">Имена:
          </div>
          <div class="col-6" style="font-family: Arial, Helvetica, sans-serif;
          font-weight: 800; font-size: 20px; color: #0c3c55; padding: 0px;">{{user.firstName}} {{user.lastName}}
          </div>
      </div>

      <div class="row" style="margin-left: 20px; margin-bottom: 10px;">
          <div class="col-6" style="font-family: Arial, Helvetica, sans-serif;
              font-weight: 800; font-size: 20px; color: #0c3c55; padding: 0px;">Еmail:
          </div>
          <div class="col-6" style="font-family: Arial, Helvetica, sans-serif;
              font-weight: 800; font-size: 20px; color: #0c3c55; padding: 0px;"><a style="color: #0c3c55;" href="mailto:example@gmail.com">{{user.email}}</a>
          </div>
      </div>

      <hr style="border: 1px solid white;">

      <div class="row" style="margin-left: 20px; margin-bottom: 10px;">
          <div class="col-6" style="font-family: Arial, Helvetica, sans-serif;
          font-weight: 800; font-size: 20px; color: #0c3c55; padding: 0px;">Общо дарена сума пари:
          </div>
          <div class="col-6" style="font-family: Arial, Helvetica, sans-serif;
          font-weight: 800; font-size: 20px; color: #0c3c55; padding: 0px;">{{user.totalMoneyDonated}} BGN
          </div>
      </div>

      <div class="row" style="margin-left: 20px; margin-bottom: 10px;">
          <div class="col-6" style="font-family: Arial, Helvetica, sans-serif;
          font-weight: 800; font-size: 20px; color: #0c3c55; padding: 0px;">Общо дарени предмети:
          </div>
          <div class="col-6" style="font-family: Arial, Helvetica, sans-serif;
          font-weight: 800; font-size: 20px; color: #0c3c55; padding: 0px;">{{user.totalItemsDonated}} броя
          </div>
      </div>

      <hr style="border: 1px solid white;">

      <div class="row" style="margin-left: 20px; margin-bottom: 10px;">
          <div class="col-6" style="font-family: Arial, Helvetica, sans-serif;
          font-weight: 800; font-size: 20px; color: #ba14a4; padding: 0px;">Точки за текущата година:
          </div>
          <div class="col-6" style="font-family: Arial, Helvetica, sans-serif;
          font-weight: 800; font-size: 20px; color: #0c3c55; padding: 0px;">1340
          </div>
      </div>

      <div class="row" style="margin-left: 20px; margin-bottom: 10px;">
          <div class="col-6" style="font-family: Arial, Helvetica, sans-serif;
          font-weight: 800; font-size: 20px; color: #ba14a4; padding: 0px;">Точки за текущата кампания:
          </div>
          <div class="col-6" style="font-family: Arial, Helvetica, sans-serif;
          font-weight: 800; font-size: 20px; color: #0c3c55; padding: 0px;">{{user.points}}
          </div>
      </div>

      <hr style="border: 1px solid white;">

  </div>

</div>

<div style="margin-top: 40px; margin-left: 100px; margin-right: 100px; margin-bottom: 0px;">
    <h1 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 40px; font-weight: 900; text-align: center; color: #0c3c55;">
        Дарени предмети към текущата кампания:
    </h1>
</div>

<section class="text-center my-5" style="padding: 0px 200px;">

    <div class="row">
        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
            <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
            <img class="img-fluid" src="./../../../../assets/top-10-books-every-22college-student-read-1024x640.jpeg" alt="Sample image" style="height: 250px; width: 100%;">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <a href="#!" class="pink-text">
            <h6 class="font-weight-bold mb-3"><mdb-icon far icon="map" class="pr-2"></mdb-icon>Учебници и книги</h6>
            </a>
            <h4 class="font-weight-bold mb-3" style="color: #0c3c55;">Брой: &nbsp;<strong>{{userItems.books}}</strong></h4>
        </div>

        <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
            <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
            <img class="img-fluid" src="./../../../../assets/online-clothes-shops-hero2333.jpg" alt="Sample image" style="height: 250px; width: 100%;">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <a href="#!" class="deep-orange-text">
            <h6 class="font-weight-bold mb-3"><mdb-icon fas icon="graduation-cap" class="pr-2"></mdb-icon>Дрехи</h6>
            </a>
            <h4 class="font-weight-bold mb-3" style="color: #0c3c55;">Брой: &nbsp;<strong>{{userItems.clothes}}</strong></h4>
        </div>

        <div class="col-lg-4 col-md-6 mb-0">
            <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
            <img class="img-fluid" src="./../../../../assets/Good_Food_Display_-_NCI_Visuals_Online.jpg" alt="Sample image" style="height: 250px; width: 100%;">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <a href="#!" class="blue-text">
            <h6 class="font-weight-bold mb-3"><mdb-icon fas icon="fire" class="pr-2"></mdb-icon>Храна</h6>
            </a>
            <h4 class="font-weight-bold mb-3" style="color: #0c3c55;">Брой: &nbsp;<strong>{{userItems.food}}</strong></h4>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
            <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
            <img class="img-fluid" src="./../../../../assets/download.jpg" alt="Sample image" style="height: 250px; width: 100%;">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <a href="#!" class="pink-text">
            <h6 class="font-weight-bold mb-3"><mdb-icon far icon="map" class="pr-2"></mdb-icon>Играчки</h6>
            </a>
            <h4 class="font-weight-bold mb-3" style="color: #0c3c55;">Брой: &nbsp;<strong>{{userItems.toys}}</strong></h4>
        </div>

        <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
            <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
            <img class="img-fluid" src="./../../../../assets/22222222.jpg" alt="Sample image" style="height: 250px; width: 100%;">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <a href="#!" class="deep-orange-text">
            <h6 class="font-weight-bold mb-3"><mdb-icon fas icon="graduation-cap" class="pr-2"></mdb-icon>Уреди</h6>
            </a>
            <h4 class="font-weight-bold mb-3" style="color: #0c3c55;">Брой: &nbsp;<strong>{{userItems.devices}}</strong></h4>
        </div>

        <div class="col-lg-4 col-md-6 mb-0">
            <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
            <img class="img-fluid" src="./../../../../assets/22222222222222.jpg" alt="Sample image" style="height: 250px; width: 100%;">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <a href="#!" class="blue-text">
            <h6 class="font-weight-bold mb-3"><mdb-icon fas icon="fire" class="pr-2"></mdb-icon>Домашни потребности</h6>
            </a>
            <h4 class="font-weight-bold mb-3" style="color: #0c3c55;">Брой: &nbsp;<strong>{{userItems.houseneeds}}</strong></h4>
        </div>
    </div>
</section>

<div *ngIf="isAdmin === 'admin'" style="margin-top: 40px; margin-left: 100px; margin-right: 100px; margin-bottom: 30px;">
    <h1 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 40px; font-weight: 900; text-align: center; color: #0c3c55; padding-bottom: 20px;">
        Заявки:
    </h1>
</div>

<div *ngIf="isAdmin === 'admin'" class="row" style="margin: 30px;">
    <div class="row" style="display: contents;">
        
        <div class="col-sm-3" style="padding-bottom: 30px;">
            <mdb-card style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg')" class="card-image">
                <div class="text-white text-center align-items-center rgba-black-strong py-5 px-4">
                    <div>
                    <h5 class="white-text">
                        <mdb-icon fas icon="chart-pie"></mdb-icon>№ 2343456545
                    </h5>
                    <h3 class="card-title pt-2"><strong>ИЗЧАКВАЩА</strong></h3>
                    <h4>
                        Дата: 15/06/2021
                    </h4>
                    <a mdbBtn color="blue" class="waves-light" mdbWavesEffect style="width: 200px;">
                        <mdb-icon far icon="clone" class="left"></mdb-icon>
                        Преглед</a>
                    <a mdbBtn color="green" class="waves-light" mdbWavesEffect style="width: 200px;">
                        <mdb-icon far icon="clone" class="left"></mdb-icon>
                        Добави</a>
                    </div>
                </div>
            </mdb-card>
        </div>

        <div class="col-sm-3" style="padding-bottom: 30px;">
            <mdb-card style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg')" class="card-image">
                <div class="text-white text-center align-items-center rgba-black-strong py-5 px-4">
                    <div>
                    <h5 class="white-text">
                        <mdb-icon fas icon="chart-pie"></mdb-icon>№ 2343456545
                    </h5>
                    <h3 class="card-title pt-2"><strong>ИЗЧАКВАЩА</strong></h3>
                    <h4>
                        Дата: 15/06/2021
                    </h4>
                    <a mdbBtn color="blue" class="waves-light" mdbWavesEffect style="width: 200px;">
                        <mdb-icon far icon="clone" class="left"></mdb-icon>
                        Преглед</a>
                    <a mdbBtn color="green" class="waves-light" mdbWavesEffect style="width: 200px;">
                        <mdb-icon far icon="clone" class="left"></mdb-icon>
                        Добави</a>
                    </div>
                </div>
            </mdb-card>
        </div>

        <div class="col-sm-3" style="padding-bottom: 30px;">
            <mdb-card style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg')" class="card-image">
                <div class="text-white text-center align-items-center rgba-black-strong py-5 px-4">
                    <div>
                    <h5 class="white-text">
                        <mdb-icon fas icon="chart-pie"></mdb-icon>№ 2343456545
                    </h5>
                    <h3 class="card-title pt-2"><strong>ИЗЧАКВАЩА</strong></h3>
                    <h4>
                        Дата: 15/06/2021
                    </h4>
                    <a mdbBtn color="blue" class="waves-light" mdbWavesEffect style="width: 200px;">
                        <mdb-icon far icon="clone" class="left"></mdb-icon>
                        Преглед</a>
                    <a mdbBtn color="green" class="waves-light" mdbWavesEffect style="width: 200px;">
                        <mdb-icon far icon="clone" class="left"></mdb-icon>
                        Добави</a>
                    </div>
                </div>
            </mdb-card>
        </div>

        <div class="col-sm-3" style="padding-bottom: 30px;">
            <mdb-card style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg')" class="card-image">
                <div class="text-white text-center align-items-center rgba-black-strong py-5 px-4">
                    <div>
                    <h5 class="white-text">
                        <mdb-icon fas icon="chart-pie"></mdb-icon>№ 2343456545
                    </h5>
                    <h3 class="card-title pt-2"><strong>ИЗЧАКВАЩА</strong></h3>
                    <h4>
                        Дата: 15/06/2021
                    </h4>
                    <a mdbBtn color="blue" class="waves-light" mdbWavesEffect style="width: 200px;">
                        <mdb-icon far icon="clone" class="left"></mdb-icon>
                        Преглед</a>
                    <a mdbBtn color="green" class="waves-light" mdbWavesEffect style="width: 200px;">
                        <mdb-icon far icon="clone" class="left"></mdb-icon>
                        Добави</a>
                    </div>
                </div>
            </mdb-card>
        </div>

        
    </div>
</div>

<div style="margin-top: 40px; margin-left: 100px; margin-right: 100px; margin-bottom: 0px;">
    <h1 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 40px; font-weight: 900; text-align: center; color: #0c3c55;">
        Сертификати:
    </h1>
</div>

<section class="text-center my-5" style="padding: 0px 200px;">
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4" *ngFor="let sertification of sertifications; index as i;">
            <div class="">
                <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
                    <img class="img-fluid" src="./../../../../assets/maxresdefault.jpg" alt="Sample image">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="d-flex justify-content-around" style="margin: 25px;">
                    <mdb-icon size="2x" style="color: orangered;" fab icon="facebook-f"></mdb-icon>
                    <mdb-icon size="2x" style="color: orangered;" fab icon="twitter"></mdb-icon>
                    <mdb-icon size="2x" style="color: orangered;" fab icon="google-plus-g"></mdb-icon>
                </div>
            </div>
        </div>
    </div>
</section>

<div *ngIf="isAdmin === true" class="d-flex justify-content-center" style="margin-bottom: 30px;">

        <!-- <app-drag-drop></app-drag-drop> -->
        <div class="box-distance">
            <div class="container fileUploadWrapper">
                <form [formGroup]="form">
                    <div class="row" style="border: 2px solid #0c3c55;">
                        <!-- Progress Bar -->
                        <div class="col-12" *ngIf="progress">
                            <div class="progress form-group">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress"></div>
                            </div>
                        </div>
                        <div class="col-12" style="background-color: green; cursor: pointer; text-align: center; height: 68px; width: 250px; padding-top: 15px;">
                            <div class="fileupload" appDragDropFileUpload (click)="fileField.click()" (fileDropped)="upload($event)">
                                <span class="ddinfo" style="font-weight: 500; font-size: 22px; color: white; font-family: Arial, Helvetica, sans-serif;">Добави сертификат</span>
                                <input type="file" name="avatars" #fileField (change)="upload($event.target.files)" hidden multiple />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="image-list" *ngFor="let file of fileArr; let i = index" style="border-bottom: 2px solid #0c3c55; margin-top: 10px; text-align: center;">
                                <div class="profile" style="text-align: center;">
                                    <img style="width: 300px; height: 230px;" [src]="sanitize(file['url'])" alt=""/>
                                </div>
                                <p>{{ file.item.name }}</p>
                                <button
                                    type="button"
                                    class="btn btn-primary btn-lg"
                                    (click)="confirmAdd()"
                                    style="width: 170px; margin-left:10px; margin-top: 5px; height: 68px; width: 250px; background-color: green !important;"
                                    >Добави сертификат
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</div>
