<div style="margin-top: 50px; margin-left: 100px; margin-right: 100px; margin-bottom: 0px;">
    <h1 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 36px; font-weight: 900; text-align: center; color: #0c3c55;">
        Потребители:
    </h1>
</div>

<div  style="margin-bottom: 0px; margin-left: 100px; margin-right: 100px;">
    <div class="row" style="justify-content: space-around;">
        <div class="input-group md-form form-sm form-2 pl-0" style="height: 50px; width: 60%; background-color: white;">
            <input id="search-value" class="form-control my-0 py-1 red-border" type="text" placeholder="Въведете имейл или имена на потребителя, който търсите..." aria-label="Search">
            <div class="input-group-append">
                <span class="input-group-text lighten-3" (click)="searchUser()" 
                style="color: #0c3c55; background-color: #1495ba; cursor: pointer; width: 70px; justify-content: space-around;">
                <i class="fas fa-search text-grey"aria-hidden="true"></i>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin: 50px;">
  <div class="row" style="display: contents;">

        <div class="col-sm-3" *ngFor="let user of users; index as i;">
            <div style="padding-bottom: 30px;">
                <mdb-card dark="true">
                    <div class="view overlay waves-light" mdbWavesEffect>
                    <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg"></mdb-card-img>
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                    </div>
                    <mdb-card-body class="elegant-color white-text" style="background-color: #0c3c55 !important;">
                    <a class="activator px-3 mr-2">
                        <mdb-icon fas icon="share-alt" class="white-text"></mdb-icon>
                    </a>
                    <mdb-card-title>
                        <h4>{{user.firstName}} {{user.lastName}}</h4>
                    </mdb-card-title>
                    <hr class="hr-light">
                    <mdb-card-text class="white-text">
                        {{user.email}}
                    </mdb-card-text>
                    <a routerLink="/profile/{{user.userId}}" class="white-text d-flex justify-content-end">
                        <h5 class="waves-light white-text" mdbWavesEffect>Към профила
                        <span>
                            <mdb-icon fas icon="chevron-right" class="pl-2 waves-light" mdbWavesEffect></mdb-icon>
                        </span>
                        </h5>
                    </a>
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>
    </div>
</div>