<div style="margin-top: 50px; margin-left: 100px; margin-right: 100px; margin-bottom: 0px;">
    <h1 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 40px; font-weight: 900; 
    text-align: center; color: #0c3c55;">
        Ранг листи:
    </h1>
</div>

<div class="row" style="margin-left: 110px; margin-right: 110px;">
    <div class="col-md-5" style="background-color:transparent;">
                <div class="d-flex justify-content-center" style="margin-bottom: 0px; margin-top: 10px;">
                    <p style="font-weight: 900; font-size: 30px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    color: #0c3c55;">Класация за текущата година:</p>
                </div>

                <div class="row" style="background-color: transparent; border-radius: 10px;">
                    <div class="col-md-6 mx-auto">
                        <div class="md-form">
                            <input type="text" class="form-control" [(ngModel)]="searchText" (keyup)="searchItems()" id="search-input"
                                    mdbInput style="border: 1px solid white; border-radius: 10px; background-color: white;">
                            <label for="search-input" style="color: #0c3c55; font-weight: 700; margin-left: 10px;">Търси...</label>
                        </div>
                    </div>
                    <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" striped="true" class="z-depth-1" 
                    style="margin: 0px !important; background-color: rgba(255, 159, 134, 0.699);">
                        <thead class="sticky-top">
                            <tr>
                                <th *ngFor="let head of headElements; let i = index" [mdbTableSort]="elements" [sortBy]="headElements[i]"
                                    scope="col">{{head | titlecase}} <mdb-icon fas icon="sort"></mdb-icon>
                                </th>
                            </tr>
                        </thead>
                        <tbody #row>
                            <tr mdbTableCol (rowCreated)="onRowCreate($event)" (rowRemoved)="onRowRemove($event)" *ngFor="let el of elements; let i = index">
                                <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row" style="color: #0c3c55 !important; font-size: 16px; font-weight: 700;">{{el.place}}</th>
                                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="color: #0c3c55 !important; font-size: 16px; font-weight: 700;">{{el.name}}</td>
                                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="color: #0c3c55 !important; font-size: 16px; font-weight: 700;">{{el.email}}</td>
                                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="color: #0c3c55 !important; font-size: 16px; font-weight: 700;">{{el.points}}</td>
                            </tr>
                        </tbody>
                        <tfoot class="grey lighten-5 w-100">
                            <tr>
                                <td colspan="4" style="padding: 0px !important; padding-top: 16px !important;">
                                    <mdb-table-pagination [tableEl]="tableEl" paginationAlign="" [searchDataSource]="elements"></mdb-table-pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
    </div>

    <div class="col-md-2" style="writing-mode: vertical-lr">
            <div class="d-flex justify-content-center">
                <img src="./../../../../assets/74a0fb466ad759185738c60b7ae1a1f3.gif" style="height: 330px; width: auto;" alt="">
            </div>
    </div>

    <div class="col-md-5">
            <div class="d-flex justify-content-center" style="margin-bottom: 90px; margin-top: 10px;">
                    <p style="font-weight: 900; font-size: 30px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    color: #0c3c55;">Класация за текущата кампания:</p>
            </div>

            <div class="row">
                <table mdbTable #tableE2="mdbTable" class="z-depth-1" style="margin: 0px !important; background-color: rgba(247, 236, 142, 0.705);">
                    <thead>
                        <tr>
                            <th *ngFor="let head of headElements1; let i = index" scope="col">{{head}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let el of elements1; let i = index">
                            <th *ngIf="i+1 >= mdbTablePagination1.firstItemIndex && i < mdbTablePagination1.lastItemIndex" scope="row" style="color: #0c3c55 !important; font-size: 16px; font-weight: 700;">{{el.place}}</th>
                            <td *ngIf="i+1 >= mdbTablePagination1.firstItemIndex && i < mdbTablePagination1.lastItemIndex" style="color: #0c3c55 !important; font-size: 16px; font-weight: 700;">{{el.name}}</td>
                            <td *ngIf="i+1 >= mdbTablePagination1.firstItemIndex && i < mdbTablePagination1.lastItemIndex" style="color: #0c3c55 !important; font-size: 16px; font-weight: 700;">{{el.email}}</td>
                            <td *ngIf="i+1 >= mdbTablePagination1.firstItemIndex && i < mdbTablePagination1.lastItemIndex" style="color: #0c3c55 !important; font-size: 16px; font-weight: 700;">{{el.points}}</td>
                        </tr>
                    </tbody>
                        <tfoot class="grey lighten-5 w-100">
                            <tr>
                                <td colspan="4" style="padding: 0px !important; padding-top: 16px !important;">
                                    <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements1"></mdb-table-pagination>
                                </td>
                            </tr>
                        </tfoot>
                </table>
            </div>
    </div>
</div>

<div style="margin-top: 50px; margin-left: 100px; margin-right: 100px; margin-bottom: 50px;">
    <h1 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 36px; font-weight: 900; text-align: center; color: #0c3c55;">
        Дари и спечели!!!
    </h1>
</div>

<div class="row" style="margin-top: 50px; margin-left: 100px; margin-right: 100px; margin-bottom: 50px; display: block !important;">
    <div class="col-12" style="display: block !important;">
        <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'" style="height: 400px !important; max-width: 100% !important;">
            <mdb-carousel-item style="height: 400px !important; max-width: 100% !important; display: block !important;">
                <video class="video-fluid" autoplay loop>
                    <source src="https://mdbootstrap.com/img/video/forest.mp4" type="video/mp4"/>
                </video>
            </mdb-carousel-item>
            <mdb-carousel-item style="height: 400px !important; max-width: 100% !important;">
                <video class="video-fluid" autoplay loop>
                    <source src="https://mdbootstrap.com/img/video/Agua-natural.mp4" type="video/mp4"/>
                </video>
            </mdb-carousel-item>
            <mdb-carousel-item style="height: 400px !important; max-width: 100% !important;">
                <video class="video-fluid" autoplay loop>
                    <source src="https://mdbootstrap.com/img/video/Tropical.mp4" type="video/mp4"/>
                </video>
            </mdb-carousel-item>
        </mdb-carousel>
    </div>
</div>

<div style="margin-top: 50px; margin-left: 100px; margin-right: 100px; margin-bottom: 50px;">
    <h1 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 36px; font-weight: 900; text-align: center; color: #0c3c55;">
        Най-успешните ни кампании:
    </h1>
</div>

<div class="row" style="margin-top: 50px; margin-left: 100px; margin-right: 100px; margin-bottom: 50px; display: block !important;">
    <div class="col-12" style="display: block !important;">
        <mdb-carousel [isControls]="true" class="carousel slide" [animation]="'slide'" style="height: 400px !important; max-width: 100% !important;">
            <mdb-carousel-item style="height: 400px !important; max-width: 100% !important;">
                <div class="view">
                    <video class="video-fluid" autoplay loop>
                    <source src="https://mdbootstrap.com/img/video/Lines.mp4" type="video/mp4" />
                    </video>
                    <div class="mask rgba-indigo-light waves-light" mdbWavesEffect></div>
                </div>
                <div class="carousel-caption">
                    <div class="animated fadeInDown delay-1s">
                    <h3 class="h3-responsive">12505 BGN</h3>
                    <p>Кампания с най-много събрани пари: КОЛЕДНА КАМПАНИЯ</p>
                    </div>
                </div>
            </mdb-carousel-item>
            <mdb-carousel-item style="height: 400px !important; max-width: 100% !important;">
                <div class="view">
                    <video class="video-fluid" autoplay loop>
                    <source src="https://mdbootstrap.com/img/video/animation-intro.mp4" type="video/mp4" />
                    </video>
                    <div class="mask rgba-purple-slight waves-light" mdbWavesEffect></div>
                </div>
                <div class="carousel-caption">
                    <div class="animated fadeInDown delay-1s">
                    <h3 class="h3-responsive">5505 човека</h3>
                    <p>Кампания с най-много дарители: КАМПАНИЯ БЪДИ ЧОВЕК</p>
                    </div>
                </div>
            </mdb-carousel-item>
            <mdb-carousel-item style="height: 400px !important; max-width: 100% !important;">
                <div class="view">
                    <video class="video-fluid" autoplay loop>
                    <source src="https://mdbootstrap.com/img/video/Tropical.mp4" type="video/mp4" />
                    </video>
                    <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
                </div>
                <div class="carousel-caption">
                    <div class="animated fadeInDown delay-1s">
                    <h3 class="h3-responsive">2560 предмета</h3>
                    <p>Кампания с най-много събрани предмети: ВЕЛИКДЕНСКА КАМПАНИЯ</p>
                    </div>
                </div>
            </mdb-carousel-item>
        </mdb-carousel>
    </div>
</div>
