<div style="margin-top: 40px; margin-left: 100px; margin-right: 100px; margin-bottom: 30px;">
    <h1 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 40px; font-weight: 900; text-align: center; color: #0c3c55; padding-bottom: 20px;">
        Заявка:
    </h1>
</div>

<div  class="row" style="margin: 0 200px !important; background-color: aliceblue;">
    <div class="col-12"> 
        <table mdbTable>
            <thead>
                <tr>
                    <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                </tr>
            </thead>
            <tbody>
                <tr mdbTableCol *ngFor="let el of itemsArr">
                    <th scope="row">{{el.id}}</th>
                    <td>{{el.itemCat}}</td>
                    <td>{{el.itemName}}</td>
                    <td>{{el.itemQuantity}}</td>
                    <td>{{el.itemDesc}}</td>
                    <td>{{el.landImages.length}}</td>
                    <td>
                        <a (click)="deleteItem(el.itemName)" mdbBtn color="red" class="waves-light" mdbWavesEffect style="margin: -40px;">Изтрий</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    

<div class="row" style="margin: 0px 200px; margin-top: 50px;">

    <div class="col-6">
        <div class="form" style="padding: 0px 30px;">
            <div class="" style="background-color: white; padding: 0px; margin-top: 0px;">
                <ng-multiselect-dropdown
                [placeholder]="'Категория'"
                [data]="dropdownCategory"
                [(ngModel)]="selectedCategory"
                [settings]="dropdownCategorySettigns"
                (onSelect)="onCategorySelect($event)">
                </ng-multiselect-dropdown>
            </div>
        </div>

        <form [formGroup]="landForm" (ngSubmit)="(submit)" #formControl="ngForm" style="padding: 30px;">
            <div class="form">
                <input class="form-control" placeholder="Име на предмета" formControlName="itemName" style="margin-top: 0px;" />
                <mdb-error *ngIf="!landForm.controls['itemName'].valid">{{getErrorMessage()}}</mdb-error>
            </div>
    
            <div class="form">
                <input class="form-control" type="number" placeholder="Количество" formControlName="itemQuantity" style="margin-top: 30px;" />
                <mdb-error *ngIf="!landForm.controls['itemQuantity'].valid">{{getErrorMessage()}}</mdb-error>
            </div>
    
            <div class="form">
                <textarea class="md-textarea form-control" placeholder="Описание" formControlName="itemDescription" type="text" style="margin-top: 30px;"></textarea>
                <mdb-error *ngIf="!landForm.controls['itemDescription'].valid">{{getErrorMessage()}}</mdb-error>
            </div>
        </form>
    </div>

    <div class="col-6">
        <!-- <app-drag-drop></app-drag-drop> -->
        <div class="box-distance">
            <div class="container fileUploadWrapper" style="margin: 0px; padding: 0px;">
                <form [formGroup]="form">
                    <div class="row" style="border: 2px solid #0c3c55;">
                        <!-- Progress Bar -->
                        <div class="col-12" *ngIf="progress">
                            <div class="progress form-group">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress"></div>
                            </div>
                        </div>
                        <div class="col-12" style="background-color: #0c3c55; cursor: pointer;">
                            <div class="fileupload" appDragDropFileUpload (click)="fileField.click()" (fileDropped)="upload($event)">
                                <span class="ddinfo" style="font-weight: 500; font-size: 22px; color: white; font-family: Arial, Helvetica, sans-serif;">Добави изображения</span>
                                <input type="file" name="avatars" #fileField (change)="upload($event.target.files)" hidden multiple />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="image-list" *ngFor="let file of fileArr; let i = index" style="border-bottom: 2px solid #0c3c55; margin-top: 10px;">
                                <div class="profile">
                                    <img style="width: 300px; height: 230px;" [src]="sanitize(file['url'])" alt=""/>
                                </div>
                                <p>{{ file.item.name }}</p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center" style="margin-bottom: 30px;">
    <button
        type="button"
        class="btn btn-primary btn-lg"
        [disabled]="!formControl.valid"
        (click)="confirmAdd(this.formData)"
        style="width: 170px; margin-left:10px; margin-top: 5px; height: 50px; width: 170px; background-color: #0c3c55 !important;"
    >Добави</button>
</div>

<div class="d-flex justify-content-center" style="margin-bottom: 30px; margin-top: 50px;">
    <button
        type="button"
        class="btn btn-primary btn-lg"
        (click)="confirmRequest()"
        style="width: 170px; margin-left:10px; margin-top: 5px; height: 68px; width: 300px; background-color: #3a0c55 !important;"
    >Направи заявка</button>
</div>
