<div class="d-flex justify-content-center" style="margin-top: 40px;">
    <p style="font-weight: 900; font-size: 40px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #0c3c55;">Ние Ви предлагаме пълна прозрачност на системата!</p>
</div>

<div class="jumbotron text-center hoverable p-4" style="background:rgba(255, 255, 255, 0.5); margin: 40px; height: 550px;">
    <div class="row">
        <div class="col-md-4 offset-md-1 mx-3 my-3">
            <div class="view overlay waves-light" mdbWavesEffect>
                <img src="./../../../../assets/991-ratio-dareniia.jpg" class="img-fluid" style="overflow: hidden; height: 450px; width: auto;" alt="Sample image for first version of blog listing">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
        <div class="col-md-7 text-md-left ml-3 mt-3">
            <h4 class="h4 mb-4" style="color: #0c3c55; font-weight: 700; text-align: center; font-size: 26px;">Общо събрани средства:</h4>
            <div class="chartdiv" style="height: 450px;"></div>
        </div>
    </div>
</div>

<div class="jumbotron text-center hoverable p-4" style="background:rgba(255, 255, 255, 0.8); margin: 40px; height: 500px;">
    <div class="row">
        <div class="col-md-8">
            <div class="chartdiv1" style="height: 450px;"></div>
        </div>
        <div class="col-md-4">
            <div class="view overlay waves-light" mdbWavesEffect>
                <img src="./../../../../assets/charity-is-not-a--one-stop-solution-2021-05-05.jpg" class="img-fluid" style="overflow: hidden; height: 450px; width: auto;" alt="Sample image for first version of blog listing">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-left: 110px; margin-right: 110px; margin-bottom: 50px;">
    <div class="col-md-12" style="background-color:transparent;">
                <div class="d-flex justify-content-center" style="margin-bottom: 0px; margin-top: 10px;">
                    <p style="font-weight: 900; font-size: 36px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    color: #0c3c55;">Проследяемост на парични преводи:</p>
                </div>

                <div class="row" style="background-color: transparent; border-radius: 10px;">
                    <div class="col-md-12 mx-auto">
                        <div class="md-form">
                            <input type="text" class="form-control" [(ngModel)]="searchText" (keyup)="searchItems()" id="search-input"
                                    mdbInput style="border: 1px solid white; border-radius: 10px; background-color: white;">
                            <label for="search-input" style="color: #0c3c55; font-weight: 700; margin-left: 10px;">Търси...</label>
                        </div>
                    </div>
                    <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" striped="true" class="z-depth-1" 
                    style="margin: 0px !important; background-color: rgba(255, 255, 255, 0.699);">
                        <thead class="sticky-top">
                            <tr>
                                <th *ngFor="let head of headElements; let i = index" [mdbTableSort]="elements" [sortBy]="headElements[i]"
                                    scope="col">{{head | titlecase}} <mdb-icon fas icon="sort"></mdb-icon>
                                </th>
                            </tr>
                        </thead>
                        <tbody #row>
                            <tr mdbTableCol (rowCreated)="onRowCreate($event)" (rowRemoved)="onRowRemove($event)" *ngFor="let el of elements; let i = index">
                                <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row" style="color: #0c3c55 !important; font-size: 16px; font-weight: 700;">{{el.date}}</th>
                                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="color: #0c3c55 !important; font-size: 16px; font-weight: 700;">{{el.name}}</td>
                                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="color: #0c3c55 !important; font-size: 16px; font-weight: 700;">{{el.amount}}</td>
                                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="color: #0c3c55 !important; font-size: 16px; font-weight: 700;">{{el.transactionNo}}</td>
                                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="color: #0c3c55 !important; font-size: 16px; font-weight: 700;">{{el.receiver}}</td>
                            </tr>
                        </tbody>
                        <tfoot class="grey lighten-5 w-100">
                            <tr>
                                <td colspan="12" style="padding: 0px !important; padding-top: 16px !important;">
                                    <mdb-table-pagination [tableEl]="tableEl" paginationAlign="" [searchDataSource]="elements"></mdb-table-pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
    </div>
</div>