<div style="margin-top: 40px; margin-left: 100px; margin-right: 100px; margin-bottom: 30px;">
    <h1 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 40px; font-weight: 900; text-align: center; color: #0c3c55; padding-bottom: 20px;">
        Известия:
    </h1>
</div>

<div class="row" style="margin: 30px 200px !important; margin-bottom: 60px !important; background-color: aliceblue;">
    <div class="col-12"> 
        <table mdbTable>
            <thead>
                <tr>
                    <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                </tr>
            </thead>
            <tbody>
                <tr mdbTableCol *ngFor="let el of notificationsArr">
                    <th scope="row" [style.background]="el.isReaded === '1' ? 'aliceblue' : 'white'" >{{el.id}}</th>
                    <td [style.background]="el.isReaded === '1' ? 'aliceblue' : 'white'" >{{el.notDate}}</td>
                    <td [style.background]="el.isReaded === '1' ? 'aliceblue' : 'white'" >{{el.notName}}</td>
                    <td [style.background]="el.isReaded === '1' ? 'aliceblue' : 'white'" >{{el.notDesc}}</td>
                    <td [style.background]="el.isReaded === '1' ? 'aliceblue' : 'white'" >
                        <a (click)="viewMore(el.notName)" mdbBtn color="blue" class="waves-light" mdbWavesEffect style="margin: -40px;">Виж повече...</a>
                    </td>
                    <td [style.background]="el.isReaded === '1' ? 'aliceblue' : 'white'" >
                        <a (click)="delete(el.notId)" mdbBtn color="red" class="waves-light" mdbWavesEffect style="margin: -40px;">Изтрий</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
