<div style="margin: 50px 200px 50px 200px;">

    <h1 style="font-family: Arial, Helvetica, sans-serif; font-size: 40px; font-weight: 700; text-align: center; margin: 40px; color: #0c3c55;">
        Добре дошли в <strong style="font-weight: 900; color: #ba14a4; cursor: pointer;" routerLink="">Life of Giving</strong>
    </h1>
    <p class="text-justify" style="font-size: 20px; font-weight: 400; color: #0c3c55; font-family: Arial, Helvetica, sans-serif;">
        <mdb-icon fas icon="arrow-right" style="padding: 10px; color: #ba14a4;"></mdb-icon>
        <strong style="font-weight: 900; color: #ba14a4; cursor: pointer;" routerLink="">Life of giving</strong>
        е организация, която има основна и главна цел да помага на всички хора в нужда, без каквито и да било злоупотреби!
        <br>
        <mdb-icon fas icon="arrow-right" style="padding: 10px; color: #ba14a4;"></mdb-icon>
        Ние разполагаме с база данни на инвеститорите в строителството както и с пълния списък на всички строителни фирми в България.
        <br>
        <mdb-icon fas icon="arrow-right" style="padding: 10px; color: #ba14a4;"></mdb-icon>
        Всички дарени неща ще бъдат предоставяни само на нуждаещите се хора!
        <br>
        <mdb-icon fas icon="arrow-right" style="padding: 10px; color: #ba14a4;"></mdb-icon>
        Всички дарени пари ще бъдат разпределени между най-нуждаещите хора/организации в момента!
        <br>
        <mdb-icon fas icon="arrow-right" style="padding: 10px; color: #ba14a4;"></mdb-icon>
        Всяка кампания ще съдържа снимки и контакти с организациите на които ще бъдат дарени събраните средства, за да може всеки желаещ да направи справка, ако смята че има измама!
        <br>
        <br>
        Ако Ви е омръзнало да разглеждате фалшиви обяви, денонощно да Ви безпокоят брокери на наедвижими имоти по телефона, да плащате комисиони за това,
        че просто някой Ви е завел някъде и свързал с продaвач/наемодател
        <strong style="font-weight: 900; color: #ba14a4; cursor: pointer;" routerLink="">Life of Giving</strong>
        е Вашето място. Открийте сами своя нов дом/офис/парцел на символична цена.
        При нас знаете за какво плащате – плащате за информация – проверена, актуална, истинска. На
        <strong style="font-weight: 900; color: #ba14a4; cursor: pointer;" routerLink="">Life of Giving</strong>
        пазарът на недвижими имоти е такъв, какъвто реално е. При нас няма снимки с безброй ефекти, занижени или завишени цени,
        няма “невероятни оферти”, има само и единствено ИСТИНСКИ ОБЯВИ.
    </p>

    <h1 style="font-family: Arial, Helvetica, sans-serif; font-size: 40px; font-weight: 700; text-align: center; margin: 40px; color: #0c3c55;">
        <strong style="font-weight: 900; color: #ba14a4; cursor: pointer;" routerLink="">Life of Giving</strong>
        – ДАРИ, ЗА ДА ЗАРАДВАШ!!!
    </h1>
</div>
