<div style="margin-top: 40px; margin-left: 100px; margin-right: 100px; margin-bottom: 30px;">
    <h1 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 40px; font-weight: 900; text-align: center; color: #0c3c55;">
        Текуща кампания:
    </h1>
</div>

<div style="padding: 0px 200px;">
    <div class="card card-image" style="background-image: url(./../../../../assets/networking.jpg);">
        <div class="text-white text-center rgba-stylish-strong py-5 px-4" style="padding: 0px !important; background-color: rgba(218, 67, 210, 0.534);">
            <div class="py-5">
                <h5 class="h5 orange-text text-primary" style="color: white !important;"><i class="fas fa-camera-retro"></i> Снимки</h5>
                <h1 class="card-title h2 my-4 py-2" style="font-size: 40px;">{{activeCampaign.campaignName}}</h1>
                <p class="mb-4 pb-2 px-md-5 mx-md-5" style="font-weight: 500; font-size: 20px;">{{activeCampaign.campaignDescription}}
                </p>
                <a class="btn peach-gradient" style="background-color: #ba14ac !important; background-blend-mode: darken; color: white !important;" routerLink="{{activeCampaign.campaignId}}"><i class="fas fa-clone left"></i> Виж още...</a>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isAdmin === true" class="d-flex justify-content-center" style="margin-bottom: 30px;">
    <button
        type="button"
        class="btn btn-primary btn-lg"
        (click)="confirmAdd()"
        style="width: 300px !important; margin-left:10px; margin-top: 50px; height: 68px; width: 250px; background-color: #0c3c55 !important;"
    >Добави нова кампания</button>
</div>

<div style="margin-top: 50px; margin-left: 100px; margin-right: 100px; margin-bottom: -20px;">
    <h1 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 40px; font-weight: 900; text-align: center; color: #0c3c55;">
        Предишни кампании:
    </h1>
</div>

<div class="row" style="margin: 50px;">
    <div class="row" style="display: contents;">
        <div class="col-sm-3" *ngFor="let campaign of campaigns; index as i;">
            
            <div style="padding-bottom: 30px;">
                <mdb-card dark="true">
                    <div class="view overlay waves-light" mdbWavesEffect>
                        <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg"></mdb-card-img>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <mdb-card-body class="elegant-color white-text" style="background-color: #0c3c55 !important;">
                    <a class="activator px-3 mr-2">
                        <mdb-icon fas icon="share-alt" class="white-text"></mdb-icon>
                    </a>
                    <mdb-card-title>
                        <h4>{{campaign.campaignName}}</h4>
                    </mdb-card-title>
                    <hr class="hr-light">
                    <mdb-card-text class="white-text">
                        {{campaign.campaignDescription}}
                    </mdb-card-text>
                    <a routerLink="{{campaign.campaignId}}" class="white-text d-flex justify-content-end">
                        <h5 class="waves-light white-text" mdbWavesEffect>Виж още...
                            <span>
                            <mdb-icon fas icon="chevron-right" class="pl-2 waves-light" mdbWavesEffect></mdb-icon>
                        </span>
                    </h5>
                </a>
                    </mdb-card-body>
                </mdb-card>
            </div>    
        </div>
    </div>
</div>
