<div class="d-flex justify-content-center">
   <p id="home-title">Дари, за да зарадваш!</p>
</div>

<!-- Home - BG map -->
<div class="d-flex justify-content-center">
   <svg
      xmlns:mapsvg="http://mapsvg.com"
      xmlns:dc="http://purl.org/dc/elements/1.1/"
      xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
      xmlns:svg="http://www.w3.org/2000/svg"
      xmlns="http://www.w3.org/2000/svg"
      mapsvg:geoViewBox="22.356261 44.216661 28.610539 41.235449"
      width="612.53589"
      height="396.54724"
      appClickCatcher
      (onUpdateProperty)="updateProperty($event)">

   <!-- Благоевград  -->
      <g>
         <path
               d= "m 110.72813,285.41737 2.65,-0.98 3.16,0.75 2.6,-2.03 1.29,-2.22 1.43,-7.87 1.18,-1.51 2.39,-0.09 1.32,0.9 2.86,-0.81 1.92,3.83 3.38,1.53 1.53,0.08 1,-0.81 -1.33,-2.4 0.53,-1.33 2.72,0 0,0 -1,2.41 0.27,2.57 2.21,1.33 -0.29,3.62 1.69,5.06 -0.35,2.7 2.36,1.84 -0.06,0.62 -3.88,1.71 -3.21,3.3 -0.35,1.29 2.47,17.2 2.35,2.64 6.02,2.12 10.33,6.66 7.51,7.61 5.82,4.57 0,0 1.06,2.27 -3.17,4.45 0.35,3.28 -2.46,6.06 0.13,2.87 0,0 -0.17,5.02 1.21,2.54 -2.32,1.84 -2.33,-0.17 -0.82,-1.73 -4.36,3.82 -2.86,-1.56 -1.23,-2.91 -1.73,-1.05 -0.65,2.91 -1.48,1.02 -1.22,-0.44 -2.18,0.55 -0.61,1.22 -4.95,0.44 -1.1,2.79 -2.26,2.5 -0.64,-0.79 -2.9,-0.7 -3.47,0.45 -1.97,-0.76 -2.46,1.97 -0.42,2.08 -2.81,0.43 -1.82,-0.24 -1.79,-1.66 -2.92,0.41 -2.2,-2.26 -4.02,0.76 -4.69,-0.96 -1.63,0.9 -1.67,-0.31 -6.030001,4.78 -1.99,-4.55 -3.8,-0.07 -2.49,2.34 -2.47,0.94 -0.57,1.05 0.43,2.43 -2.37,3.16 -6.63,1.48 -5.29,-0.13 -5.54,-2.64 -2.06,0.68 -6.56,-1.25 -0.38,-0.32 1.19,-1.36 1.68,-0.41 -0.34,-3.43 0.52,-1.72 -1.42,-3.08 2.61,-3.72 -1.38,-2.27 0.27,-1.42 -0.62,-0.29 -0.25,-2.31 1.02,-1.22 0.1,-1.58 -1.13,-2.54 1.13,-1.06 0.27,-2.33 -0.73,-2.28 -1.28,-1.08 0.21,-4.03 -0.63,-1.91 1.04,-1.77 2.51,-0.18 -0.28,-1.07 1.12,-2.18 3.96,-5.01 -0.19,-2.44 -2.13,-4.87 -4.44,-0.93 0.09,-1.81 -2.38,-3.83 -0.42,-3.93 -2.02,-3.79 -1.33,-0.11 -0.74,-5.09 -1.96,-2.64 0.31,-5.24 -0.17,-2.66 -0.94,-0.94 0.25,-1.44 0,0 3.92,-1.89 2.09,-9.61 1.88,-1.37 0.97,1.09 1.51,4.9 3.75,-0.17 2.25,2.94 9.47,-2.38 4.83,-4.42 1.22,-0.28 12.29,4.11 3.36,0.27 3.040001,2.19 6.68,-1.81 z"
               title= "Благоевград област"
               value= "region_blagoevgrad"
               id= "BG-01">
               <title>Благоевград област</title>
         </path>
      </g>
      <g>
         <circle id="BG-01-point" cx="70" cy="297" r="7" stroke="#0c3c55" fill="white"></circle>
         <title>Благоевград</title>
      </g>
   <!-- Бургас -->
      <g>
         <path
               d="m 464.82813,173.25737 5.98,-3.33 9.9,0.96 3.05,1.19 6.29,5.43 5.07,3.31 5.57,-0.69 2.35,1.6 4.41,-2.99 9.97,1.57 4.68,-0.27 2.27,0.79 -0.65,1.76 0.37,0.87 4.94,2.9 4.1,1.02 4.35,-1.54 3.56,0.21 0,0 1.76,8.65 -1.13,2.86 1.21,4.69 -0.33,1.99 -16.67,-1.01 -1.2,1.74 -0.4,2.67 1.31,1.72 1.67,0.38 -2.1,0.16 -0.85,1.67 -1.83,-0.77 -1.49,1.92 -2.85,-0.3 -1.37,2.07 -0.06,5.94 1.64,3.11 -0.69,0.2 -2.61,-1.57 -1.63,0.89 -1.63,-0.75 -2.38,1.76 -2.08,-1.1 -1.91,0.48 -2.72,3.68 -0.71,5.73 -0.89,-0.74 -0.33,0.37 -0.6,-0.28 -0.61,0.73 -0.17,-0.57 -0.79,0.98 -0.08,2.35 1.67,1.68 0.03,0.99 -0.69,0.59 0.96,1.6 0.93,-0.99 -0.85,-1.15 0.99,-2.63 3.57,4.31 1.48,-1.18 0.87,-2.51 2.17,1.34 1.74,0.13 -0.24,-1 0.85,-1.28 2.35,2.44 1.6,-0.36 0.17,-1.55 0.95,1.47 1.39,-0.32 -0.35,1.51 0.59,0.44 -0.82,1.68 1.45,1.56 1.5,0.3 1.51,-1.24 0.32,-0.88 0.45,-0.21 -0.24,0.86 0.71,0.08 0.15,1.31 2.39,-0.1 -0.45,1.41 -1.6,0.32 0.1,1.72 1.41,0.82 -1.29,0.87 0.15,1.15 2.51,4.46 1.69,0.24 0.32,-0.91 2.67,-0.25 -0.38,1.62 -0.89,0.4 2.1,1.79 -2.37,0.91 0.29,0.7 -1.7,1.04 -0.02,1.34 1.04,1.54 -1.24,0.36 0.01,1.9 2.21,0.78 0.87,0.95 -0.6,0.08 -0.02,1.17 3.84,2.45 1.15,1.8 0.98,0.08 0.39,1.67 1.53,0.94 -0.57,1 0.89,0.11 0.5,0.95 0.67,-0.34 0.26,1.53 1.86,0.86 1.53,2.09 0.31,2.06 1.28,1.1 1.88,-0.18 1.68,2.76 0.49,2.71 0.04,-0.87 2.18,0.96 -0.49,1 2.58,3.32 -0.35,0.68 2.18,3.22 0.32,1.89 -2.54,0.73 -3.04,-1.47 -1.67,1.69 -0.39,-0.68 -1.42,0.6 -0.71,-0.96 -0.4,1.01 -0.7,-0.69 -1.06,1.31 -1.1,-1.18 -0.09,-1.42 -2.1,-0.34 -1.78,-1.43 0.21,1.33 -0.6,0.56 -0.45,-1.47 -0.63,1.61 -1.35,-1 -1.17,1.54 -0.01,1.27 0.69,0.35 -0.53,1.35 1.22,0.18 0.24,1.89 -2.02,-0.8 -0.01,1.55 -1.15,-1.4 -0.92,0.67 -0.29,-0.84 -1.19,0.17 0.69,-1.47 -0.86,-0.21 -0.45,0.85 -0.54,-1.1 -2.28,-0.05 0.55,-0.54 -1.08,-0.98 -0.45,0.8 -3.36,-0.58 0.47,0.91 -1.75,-0.06 -1.3,2.07 -0.26,-0.8 -1,0.73 -0.34,-0.77 -1.31,0.85 -0.38,-0.58 -0.4,0.54 -1.15,-0.47 0.73,1.1 -1.43,1.31 -0.67,0.18 -0.25,-1.1 -1.58,2.12 -0.11,-0.71 -1.32,-0.07 -0.73,1.77 0.91,0.51 -1.32,0.59 0.95,1.19 -1.13,0.24 -2.03,-1.58 -3.03,-5.6 -0.77,0.85 -3.19,-0.81 -0.35,-1.22 -1.78,0.03 -1.62,-3.04 -1.49,0.05 -0.65,-1.36 -1.7,-0.51 -2.57,-6.67 -3.11,-0.41 -0.98,-2.76 -0.85,0.21 -0.58,-1.02 -1.15,-0.09 -0.66,-1.33 -1.66,0.05 -0.54,-0.87 -2.01,0.53 -0.93,-0.74 -1.77,0.87 -0.6,1.8 -1.68,0.71 0.3,2.56 -1.49,-0.42 -0.47,-0.95 -1.24,0.66 -1.48,-0.91 -2.12,0.64 -2.25,-2.51 -4.01,-0.91 -2.98,1.34 0,0 -2.22,-2.98 -5.12,-3 -2.7,-3.63 -0.34,-2.12 2.79,-3.29 -0.16,-1.61 -2.32,-4.6 0.03,-1.65 1.56,-3.4 -2.5,-1.87 -1.81,-3.93 -3.54,-3.03 -0.97,-4.24 1.28,-1.52 7.2,-1.23 1.84,-2.28 0.07,-2.48 -0.84,-0.85 -4.23,1.18 -1.98,-0.88 -1.34,-3.89 -2.54,-3.05 -1.6,-4.4 -3.34,-4.21 -3.86,-8.94 -3.69,-3.39 -4.53,-5.96 0,0 0.37,-3.62 -2.91,-5.52 -1.37,-1.29 -3.98,-0.45 -2.73,-3.35 -0.03,-2.96 1.13,-2.97 -1.98,-7.05 0.44,-2.58 -3.11,-0.05 0,0 1.68,-0.83 4.57,0.59 0.64,0.72 -1.05,1.86 0.92,1.36 7.6,-0.07 6.32,-4.47 4.95,0.25 3.08,-0.61 3.91,1.64 5.55,-1.09 1.23,0.32 1.8,2.89 2.01,0.57 7.24,-3.89 4.9,-0.67 z"
               title= "Бургас област"
               value= "region_bourgas"
               id= "BG-02">
               <title>Бургас област</title>
         </path>
      </g>
      <g>
         <circle id="BG-02-point" cx="500" cy="233" r="7" stroke="#0c3c55" fill="white"></circle>
         <title>Бургас</title>
      </g>
   <!-- Варна -->
      <g>
         <path
               d= "m 496.33813,85.427375 2.83,1.82 2.85,3.73 0.83,5.69 0.82,0.88 2.4,-0.06 5.8,-4.72 2.08,-0.27 1.84,1.65 0.03,5.13 5.17,2.599995 5.3,-0.25 2.04,4.05 2.21,1.78 8,10 1.27,-0.47 4.47,-5.21 4.12,0.21 1.48,0.6 3.16,3.43 2.68,5.07 2.25,1.88 0,0 -1.8,6.16 -3.09,5.74 -6.11,1.22 -1.78,1.16 -0.25,2 -0.22,-1.05 -1.42,0.12 1.14,0.42 -0.82,0.84 0.64,1.58 2.9,0.2 0.19,0.56 -3.31,14.15 -2.33,3.14 0.01,5.02 1.59,9.49 -0.94,1.8 0.6,8.09 -1.28,0.4 -0.63,2.02 0,0 -3.56,-0.21 -4.35,1.54 -4.1,-1.02 -4.94,-2.9 -0.38,-0.87 0.65,-1.75 -2.27,-0.79 -4.68,0.27 -9.97,-1.57 -4.42,2.99 -2.34,-1.59 -5.57,0.69 -5.07,-3.32 -6.3,-5.43 -3.05,-1.18 -9.9,-0.96 -5.98,3.33 0,0 0.28,-3.91 -1.69,-0.94 -0.6,-2.68 -2.92,-1.11 0.18,-0.85 1.22,-0.55 1.46,-1.99 3.47,0 2.61,-1.4 7.46,-1.49 -1.56,-5.17 0,0 0,-3.58 0,0 -2.47,-2.7 1,-3.81 8.98,-5.3 -1.85,-4.07 -0.2,-3.9 -1.1,-2.44 -0.39,-3.59 0.45,-1.19 2.75,0.88 1.92,-1.72 -0.36,-4.79 -0.91,-2.71 0.26,-3.33 5.09,-7.72 -0.46,-1.77 -1.88,-0.41 1.92,-3.559995 0,-1.47 -2.65,-1.18 0.01,-3.54 0.71,-0.79 2.74,-0.23 6.08,-2.02 1.24,-0.86 z"
               title= "Варна област"
               value= "region_varna"
               id= "BG-03">
               <title>Варна област</title>
         </path>
      </g>
      <g>
         <circle id="BG-03-point" cx="545" cy="135" r="7" stroke="#0c3c55" fill="white"></circle>
         <title>Варна</title>
      </g>
   <!-- Велико Търново-->
      <g>
         <path
               d= "m 296.43813,81.507375 6.05,-1.33 0,0 2.33,1.92 1.45,-0.05 1.08,-1.14 0.35,2.39 -1.72,2.29 -0.2,1.54 3.64,9.2 1.9,1.24 0.63,1.96 1.73,0.549995 0.9,1.14 0.09,2.38 -1.55,3.87 9.84,5.38 3,-2.41 1.48,-0.15 3.98,3.65 3.36,1.58 4.55,-0.24 5.74,2.26 4.59,-1.86 1.88,4.46 4.98,1.12 0,0 6.64,6.36 -0.95,2.9 2.32,1.9 0.25,1.38 2.32,2.37 0.42,1.34 -0.05,1.72 -3.11,2.17 -0.64,3.54 -1.28,2.61 -0.37,6.7 0.81,3.43 0.65,1.45 3.63,3.08 -0.45,1.46 -2.74,1.43 -0.53,1.93 11.15,3.91 0,0 -2.64,4.02 -11.45,6.08 -0.5,1.03 1.13,2.06 -0.32,2.51 -6.82,5.42 -1.47,0.08 -4.14,-1.55 -5.83,1.44 -5.25,-0.97 0,0 -2.72,0.28 -3.91,-0.71 -6.3,2.33 -3.09,2.03 0,0 -2.93,-2.32 -0.58,-3.38 -1.64,-2.82 1.25,-1.77 2.63,-1.79 0.34,-2.05 -2.03,-1 -0.07,-3.63 -4.23,-0.54 -2,-2.14 0.09,-4.73 4.02,-3.85 0.16,-1.4 -0.8,-1.43 -3.97,-1.05 -2.63,-2.22 -2.15,0.43 -4.11,-1.78 -3.29,0.71 -2.45,-2.11 -7.02,0.35 -0.76,-2.03 1.35,-4.23 -1.03,-1.27 -2.71,0.03 -5.01,2.29 -6.23,-1.61 -3.01,-3.93 -3.11,-2.11 -0.52,-3.9 0,0 2.14,0.3 1.28,-0.9 0.11,-3.84 2.82,-4.19 0.24,-3.46 0,0 7.19,-7.32 1.05,-3.52 -0.79,-2.11 -3.89,-0.76 0.23,-2.22 1.36,-2.89 -0.52,-1.52 -6.92,0.75 -0.95,-0.47 -0.34,-1.61 1.1,-1.82 5.47,-1.83 1.09,-1.18 1.33,-8.349995 -2.43,-4.03 1.38,-2.7 0.31,-3.68 -1.18,-4.03 1.15,-1.94 4.59,-2.86 0,0 8.07,6.88 z"
               title= "Велико Търново област"
               value= "region_vt"
               id= "BG-04">
               <title>Велико Търново област</title>
         </path>
      </g>
      <g>
         <circle id="BG-04-point" cx="320" cy="157" r="7" stroke="#0c3c55" fill="white"></circle>
         <title>Велико Търново</title>
      </g>
   <!-- Видин -->
      <g>
         <path
               d= "m 31.778129,1.0173749 1.54,1.17 4.97,0.76 6.06,5.74 5.86,2.9900001 5.2,4.02 10.29,1.84 1.47,1.3 0.42,3.84 -3.38,5.7 -7.76,1.3 -2.5,1.02 -2.35,2.19 -3.96,13.06 1.51,4.67 2.07,1.92 6.69,1.78 2.26,1.38 8.34,2.04 0,0 -0.82,1.73 -0.99,0.47 -8.02,1.04 -0.2,2.08 0.57,0.76 8.47,3.25 0.81,1.07 0.31,2.39 -0.95,1.17 -4.54,0.82 -7.29,3.75 -1.83,2.53 -2.25,8.13 -3.54,3.55 -3.02,7.09 -3.51,1.71 -0.82,1.119995 -0.46,6.18 -2.07,4.06 -1.56,1.21 0,0 -4.96,-0.28 -0.91,-0.93 -1,-3.45 -5.93,-1.2 -2.2,-3.58 -2.42,-0.04 -1.65,-1.03 -4.58,-12.489995 0.47,-5.05 -1.38,-2.84 1.14,-2.34 -1.25,-2.3 -2.6799996,-0.9 -2.61,-2.12 -1.63,-2.46 -0.48,-3.17 -0.82,-1.22 0.63,-3.93 -2.16,-2.13 -2.11000001,-4.99 2.80000001,-7.87 0.78,-5.29 -0.56,-2.38 1.9,-1.78 0.03,-5.85 0.71,-1.31 -0.53,-1.6 2.95,-0.84 0.44,-0.91 8.3099996,-0.46 1.43,-1.86 -0.99,-2.36 2.77,-0.82 1.7,0.45 0.51,-1.17 3.59,-0.12 0.28,-1.28 -0.82,-0.73 0.47,-2.55 -0.95,-1.39 0.91,-5.6100001 0.83,0.29 0.01,-1.57 -1.45,-1.04 0.65,-1.2 0.59,0.39 0.89,-0.54 -0.77,-1.17 1.22,-0.23 -0.37,-0.6 0.96,-1.21 -0.14,-1.31 0.9,0.53 1.09,-1.32 0.49,1.08 0.38,-1.28 z"
               title= "Видин област"
               value= "region_vidin"
               id= "BG-05">
               <title>Видин област</title>
         </path>
      </g>
      <g>
         <circle id="BG-05-point" cx="50" cy="31" r="7" stroke="#0c3c55" fill="white"></circle>
         <title>Видин</title>
      </g>
   <!-- Враца -->
      <g>
         <path
               d= "m 153.71813,64.427375 4.72,0.28 8.32,3.31 3.05,2.41 8.29,2.55 12.77,-2.12 3.95,0.04 0,0 -2.11,9.53 -1.66,-1.06 -0.37,2.02 -1.81,-2.56 -1.74,0.11 -5.7,7.25 -3.23,-1.3 -1.37,0.8 1.62,5.45 0.15,7.48 6.95,2.939995 -1.23,2.2 -0.39,4.64 -1.43,0.31 -1.67,-0.62 -7.24,1.61 -0.87,0.75 0.23,1.28 -1.17,3.2 -10.96,0.97 -2.36,1.74 -1.82,15.25 1.31,1.9 0.76,0.11 4.04,-1.26 2,2.39 0,0 0.96,12.61 -5.43,-0.01 0.1,6.66 0,0 0.1,2.93 -1.08,1.08 -4.8,-2.44 -9.58,-0.26 -2.55,-1.89 -3.82,0.81 -5.53,3.48 -1.32,0 -3.72,-2.4 -9.78,8.62 -2.65,-1.73 -5.9,-9 -0.85,-5.12 3.77,-5.3 -0.18,-1.31 -2.4,-0.88 -6.23,-0.56 0,0 -1.06,-2.3 -0.03,-2.96 1.4,-1.72 3.7,0.05 0.6,-1.34 -0.36,-2.13 -3.32,-2.23 -6.820001,-1.42 -2.36,-1.79 -0.08,-1.43 5.310001,-5.37 3.82,-7.4 -0.59,-6.82 3.87,-6.269995 1.85,-0.89 2.84,1.13 5.48,0.6 2.69,-4.18 4.62,0 -0.66,-3.31 -4.07,-3.38 -0.72,-1.42 0.65,-2.05 3.11,-3.24 2.6,-6.19 0.32,-7.93 -1.5,-4.79 0.49,-4.46 0,0 5.09,-1.37 3.97,-0.12 2.2,0.75 1.28,1.9 4.56,1.42 3.62,2.05 z"
               title= "Враца област"
               value= "region_vr"
               id= "BG-06">
               <title>Враца област</title>
         </path>
      </g>
      <g>
         <circle id="BG-06-point" cx="115" cy="136" r="7" stroke="#0c3c55" fill="white"></circle>
         <title>Враца</title>
      </g>
   <!-- Габрово -->
      <g>
         <path
               d= "m 268.83813,139.70737 0.52,3.9 3.11,2.11 3.01,3.93 6.23,1.61 5.01,-2.29 2.71,-0.03 1.03,1.27 -1.35,4.23 0.76,2.03 7.02,-0.35 2.45,2.11 3.29,-0.71 4.11,1.78 2.15,-0.43 2.63,2.22 3.97,1.05 0.8,1.43 -0.16,1.4 -4.02,3.85 -0.09,4.73 2,2.14 4.23,0.54 0.07,3.63 2.03,1 -0.34,2.05 -2.63,1.79 -1.25,1.77 1.64,2.82 0.58,3.38 2.93,2.32 0,0 -0.19,1.66 -2.33,0.96 -3.23,-2.8 -2.91,2.21 -1.83,0.18 -3.55,-0.8 -2.88,-2.92 -3.14,-0.24 0.43,3.62 -1.16,1.03 -11.92,-3.3 -3.7,0.56 -6.24,-3.77 -2.84,2.19 -3.52,0.27 -4.22,2.51 -7.19,-0.91 0,0 0.52,-4.09 -2.83,-5.58 -4.52,-6.06 -3.77,-1.02 -1.17,-1.37 -1.71,-5.82 0,-3.91 1.17,-3.8 1.76,-2.52 4.47,-1.58 -0.05,-3.37 -1,-2.43 0.07,-3.92 1.03,-2.3 2.78,-1.91 -0.28,-8.95 5.69,2.06 z"
               title= "Габрово област"
               value= "region_gabrovo"
               id= "BG-07">
               <title>Габрово област</title>
         </path>
      </g>
      <g>
         <circle id="BG-07-point" cx="285" cy="175" r="7" stroke="#0c3c55" fill="white"></circle>
         <title>Габрово</title>
      </g>
   <!-- Добрич -->
      <g>
         <path
               d= "m 547.67813,35.407375 4.28,15.68 11.54,6 12.2,5.46 10.83,0.82 9.72,2.53 13.01,-0.7 -0.54,2.02 0.48,2.54 -1.41,2.25 0.5,4.52 1,2.13 -1.01,5.1 3.99,8.02 -1.15,3.85 -4.15,8.539995 -4.11,4.68 -1.58,0.5 -2.62,3.68 -0.41,2.94 -1.83,-2.85 -3.32,-0.9 -2.69,-2.18 -5.04,-1.58 -5.82,0.39 -2.65,1.4 -4.89,0.72 -4.2,-1.08 -6.39,4.28 -3.45,8.8 0,0 -2.25,-1.88 -2.68,-5.07 -3.16,-3.43 -1.48,-0.6 -4.12,-0.21 -4.47,5.21 -1.27,0.47 -8,-10 -2.21,-1.78 -2.04,-4.05 -5.3,0.25 -5.17,-2.599995 -0.03,-5.13 -1.84,-1.65 -2.08,0.27 -5.8,4.72 -2.4,0.06 -0.82,-0.88 -0.83,-5.69 -2.85,-3.73 -2.83,-1.82 0,0 -2.59,-4.75 -1.11,0.06 -5.84,3.99 -1.5,-0.58 -4.26,-5.93 -4.52,-0.63 -2.49,-2.96 0,0 1.54,-0.23 0.37,-0.85 0.04,-1.38 -1.32,-2.67 0.21,-2.07 6.96,-7.95 5.7,-1.2 9.71,-9.15 1.19,-0.24 2.03,2.31 1.99,-0.37 3.04,-3.65 1.94,-4.91 2.46,2.64 3.05,0.38 0.01,-2.78 3.73,-5.35 2.15,-1.7 4.81,-1.66 0,0 0.64,1.59 2.42,0.73 10.65,-1.73 7.11,-5.64 2.65,3.28 z"
               title= "Добрич област"
               value= "region_dobrich"
               id= "BG-08">
               <title>Добрич област</title>
         </path>
      </g>
      <g>
         <circle id="BG-08-point" cx="536" cy="93" r="7" stroke="#0c3c55" fill="white"></circle>
         <title>Добрич</title>
      </g>
   <!-- Кърджали -->
      <g>
         <path
               d= "m 286.83813,304.80737 -1.32,4.43 3.11,12.3 1.91,-2.17 1.42,-0.54 0.93,-2.12 1.26,-0.32 2.35,5.64 3.94,1.51 3.44,2.66 8.48,2.61 4.71,-2.02 1.21,0.27 2.21,2.78 0.9,5.92 2.07,4.14 -0.39,2.79 -0.99,1.73 1.02,2.58 2.39,-1.53 3.74,1.66 2.74,-1.83 0.8,-2.28 1.96,-0.86 5.84,0.78 1.65,5.34 -2.42,1.25 -1.77,2.02 -1.93,6.44 0.12,2.29 2.13,0.94 1.68,2.59 1.38,0.66 -0.83,3.31 0.18,3.42 8.46,8.06 1.02,1.77 0.47,4.21 0,0 -2.82,1.59 -2.36,0.4 -1.38,-1.09 0.19,-1.94 -1.75,0.08 -2.93,-2.49 -0.69,1.28 -2.65,0.54 -1.1,1.49 -1.67,-0.42 -1.53,1.17 -2.51,-0.28 -1.28,3.4 -2.28,-1.96 -2.55,-0.96 -4.39,1.28 -5.11,-1.71 -1.66,1.19 -1.32,3.99 -2.76,-1.18 -2.66,-0.19 -4.31,1.69 -0.39,1.25 -1.22,-0.17 -3.08,1.22 -1.61,-0.41 -3.11,2.39 -3.61,-0.54 -1.26,1.37 -2.03,-1.23 -3.14,-0.35 -1.08,-4.26 -1.56,-1.51 -2.17,-0.82 -0.33,-1.39 -1.04,-0.51 0,0 0.32,-2.29 -2.03,-1.06 -0.23,-3.71 -0.95,-2.04 3.75,-4.82 -0.43,-0.99 -1.92,0.27 -0.67,-0.58 1.31,-4.61 -0.7,-2.46 -0.94,-1.34 -2.79,-1.25 -5.54,2.66 -5.05,-1.88 -0.26,-3.45 -1.59,-4.69 -0.17,-1.93 1,-1.29 7.16,-2.62 2.1,-2.45 -0.27,-6.12 1.29,-4.77 -2.15,-5.88 -0.74,-3.12 0.4,-1.19 0,0 2.2,-1.07 1.8,-2.63 1.78,-0.96 1.7,-4.49 3.62,-5.09 z"
               title= "Кърджали област"
               value= "region_kr"
               id= "BG-09">
               <title>Кърджали област</title>
         </path>
      </g>
      <g>
         <circle id="BG-09-point" cx="293" cy="346" r="7" stroke="#0c3c55" fill="white"></circle>
         <title>Кърджали</title>
      </g>
   <!-- Кюстендил -->
      <g>
         <path
               d= "m 11.768129,207.05737 1.77,0.82 2.24,2.53 3.69,0.76 2.25,1.21 1.35,5.31 2.26,4.18 5.6,2.97 0.42,6.32 4.21,6.64 1.24,4.57 1.02,0.64 4.68,0.38 2.11,3.16 2.85,0 0.43,2.7 0.94,0.38 2.05,-2.08 1.31,0.32 1.64,2.15 1.21,0 1.26,-3.66 3.33,-1.14 1.03,-2.08 1.16,-0.7 1.97,0.45 1.03,1.89 3.78,1.95 3.12,-0.53 2.28,-3.75 0.8,-0.16 1.06,4.37 3.42,1.43 2.28,1.83 3.11,0.44 2.98,-2.26 0,0 2.65,1.14 3.46,-0.2 2.31,0.69 2.3,7.08 6.550001,5.31 0,1.36 -4.9,1.82 -2.480001,5.93 0.26,0.82 1.62,0.76 6.580001,-2.17 1.71,5.63 7.11,3.05 -0.21,2.4 -1.91,0.69 -1.97,3.01 0,0 -3.03,2.83 -6.68,1.81 -3.040001,-2.19 -3.36,-0.27 -12.29,-4.11 -1.22,0.28 -4.83,4.42 -9.47,2.38 -2.25,-2.94 -3.75,0.17 -1.51,-4.9 -0.97,-1.09 -1.88,1.37 -2.09,9.61 -3.92,1.89 0,0 -0.36,-0.92 -1.27,-0.48 -2.67,0.44 -2.45,-3.07 -2.26,0.99 -4.13,-1.08 -1.96,-2.75 -3.87,0.31 -4.71,-3.95 -2.66,-0.48 -1.07,-1.5 -2.14,-0.92 -1.92,-2.27 -1.63,-0.6 -1.77,-1.76 -1.03,-5.45 -3.12,-1.08 -2.0799996,-5.43 -1.53,-1.91 -0.91,0 -2.18,-3.06 -0.18,-1.35 -2.12,-2.37 -1.69000001,-0.62 0.42000001,-1.12 3.26,-0.51 0.62,-0.76 1.92,0.02 0.8,1.03 1.9,-1.32 0.9199996,-1.53 -0.29,-2.1 2.04,-2.48 -0.18,-1.82 4.03,-0.68 0.26,-2.01 1.18,-1.2 0.87,-5.27 1.45,-2.25 -1.2,-3.73 -2.41,-2.46 -2.33,-1.21 -2.7,-3.34 -3.0799996,-0.73 0.15,-2.81 2.5699996,-6.77 -1.0599996,-1.03 1.9799996,-2.87 z"
               title= "Кюстендил област"
               value= "region_kn"
               id= "BG-10">
               <title>Кюстендил област</title>
         </path>
      </g>
      <g>
         <circle id="BG-10-point" cx="32" cy="260" r="7" stroke="#0c3c55" fill="white"></circle>
         <title>Кюстендил</title>
      </g>
   <!-- Ловеч -->
      <g>
         <path
               d= "m 164.74813,136.02737 1.5,-0.74 5.5,-0.58 3.19,-2.49 3.31,-0.92 6.36,1.66 6.1,-0.62 4.08,-1.94 1.8,0.12 3.37,-3.6 1.14,2.15 2.82,0.62 3.4,3.29 17.48,2.24 0.74,-1.53 -0.18,-4.48 0.55,-1.1 3.16,3.47 2.42,-4.41 4.52,-3.64 3.96,-1.69 4.58,0.24 2.62,1.84 4.66,1.66 2.84,-1.68 2.21,0 3.68,-3.59 2.49,-5.51 1.51,0.51 1.97,6.26 1.12,1.46 5.36,2.45 2.42,2.14 0,0 -0.24,3.46 -2.82,4.19 -0.11,3.84 -1.28,0.9 -2.14,-0.3 0,0 -5.82,-0.84 -5.69,-2.06 0.28,8.95 -2.78,1.91 -1.03,2.3 -0.07,3.92 1,2.43 0.05,3.37 -4.47,1.58 -1.76,2.52 -1.17,3.8 0,3.91 1.71,5.82 1.17,1.37 3.77,1.02 4.52,6.06 2.83,5.58 -0.52,4.09 0,0 -9.7,4.27 -2.19,-0.06 -4.01,-1.8 -9.18,1.52 -2.65,-0.77 -2.31,-4.37 -4.22,-3.32 -12.77,-1.51 -3.7,4.56 -9.28,0.17 0,0 -9.89,-2.85 -5.4,0.43 -6.97,-1.28 -0.21,-1.35 3.26,-2.17 0.05,-1.78 0.94,-1.54 -2.61,-1.96 -0.38,-4.74 -3.13,-2.21 0.68,-1.36 2.45,-1.8 -6.84,-3.66 -0.86,-6.28 -4.89,-2.44 -0.58,-3.54 -6.09,-0.31 0,0 -0.1,-6.66 5.43,0.01 z"
               title= "Ловеч област"
               value= "region_ov"
               id= "BG-11">
               <title>Ловеч област</title>
         </path>
      </g>
      <g>
         <circle id="BG-11-point" cx="233" cy="147" r="7" stroke="#0c3c55" fill="white"></circle>
         <title>Ловеч</title>
      </g>
   <!-- Монтана -->
      <g>
         <path
               d= "m 105.05813,50.287375 4.39,1.69 4.16,0.54 3.02,3.17 3.68,1.9 3.94,0.89 1.39,-0.4 0,0 -0.49,4.46 1.5,4.79 -0.32,7.93 -2.6,6.19 -3.11,3.24 -0.65,2.05 0.72,1.42 4.07,3.38 0.66,3.31 -4.62,0 -2.69,4.18 -5.48,-0.6 -2.84,-1.13 -1.85,0.89 -3.87,6.269995 0.59,6.82 -3.82,7.4 -5.310001,5.37 0.08,1.43 2.36,1.79 6.820001,1.42 3.32,2.23 0.36,2.13 -0.6,1.34 -3.7,-0.05 -1.4,1.72 0.03,2.96 1.06,2.3 0,0 -6.400001,-0.37 -2.23,1.72 -2.16,3.03 -4.14,0.1 -4.2,1.31 -11.14,-0.07 -2.3,-1.38 -3.05,-4.45 -3.94,-2.19 -2.5,-3.28 -1.87,-0.12 -2.68,1.45 0,0 -4.1,-2.93 -2.67,-4.17 -0.13,-1.28 -1.93,-1.16 -0.35,-2.9 -1.81,-4.47 -3,-1.7 -2.45,-2.76 -0.36,-1.8 -3.65,-2.05 0,0 1.56,-1.21 2.07,-4.06 0.46,-6.18 0.82,-1.119995 3.51,-1.71 3.02,-7.09 3.54,-3.55 2.25,-8.13 1.83,-2.53 7.29,-3.75 4.54,-0.82 0.95,-1.17 -0.31,-2.39 -0.81,-1.07 -8.47,-3.25 -0.57,-0.76 0.2,-2.08 8.02,-1.04 0.99,-0.47 0.82,-1.73 0,0 8.79,-1.58 7.43,-3.72 5.15,-1.54 z"
               title= "Монтана област"
               value= "region_montana"
               id= "BG-12">
               <title>Монтана област</title>
         </path>
      </g>
      <g>
         <circle id="BG-12-point" cx="87" cy="115" r="7" stroke="#0c3c55" fill="white"></circle>
         <title>Монтана</title>
      </g>
   <!-- Пазарджик -->
      <g>
         <path
               d= "m 139.35813,272.45737 3.37,-3.4 4.39,-2.58 5.14,-6.81 2.18,2.74 3.19,-1.71 0.28,-1.21 -1.75,-3.46 2,-6.19 1.27,-0.89 3.99,-0.45 1.89,-1.66 3.69,-7.74 -0.18,-2.32 -1.28,-0.89 -5.04,2.18 -2.08,0.06 -1.47,-1.1 -3.75,-5.94 -1.37,-7.51 0.57,-1.6 5.79,-1.28 4.21,2.76 2.18,0.19 6.04,-6.54 2.8,0.55 1.95,-0.46 1.1,-4.92 4.27,-0.38 4.57,-1.98 2.87,1.62 3.26,0.8 1.93,7.44 1.23,2.25 2.88,-1.7 2.55,2.38 0,0 0.16,2.66 -0.76,2 -3.23,3.4 -0.55,2.66 3.79,9.33 0.4,3.8 4.54,4.93 0.19,4.01 -1.87,1.53 1.57,4.68 0.15,6.19 0.37,1.73 4.4,5.71 0.48,1.77 -0.74,1.24 -2.64,-0.2 -2.43,1.23 -0.21,5.08 -1.32,3.62 0.96,5.16 -0.33,4.71 -2.54,7.92 0,0 -0.29,4.3 -1.03,2.62 -1.17,1.55 -4.72,2.03 -2.39,3.21 -0.69,4.2 0.91,4.31 -1.59,0.38 -1.35,1.9 -2.91,1.6 -5.87,-1.47 -8.86,1.21 -1.21,8 0,0 -5.82,-4.57 -7.51,-7.61 -10.33,-6.66 -6.02,-2.12 -2.35,-2.64 -2.47,-17.2 0.35,-1.29 3.21,-3.3 3.88,-1.71 0.06,-0.62 -2.36,-1.84 0.35,-2.7 -1.69,-5.06 0.29,-3.62 -2.21,-1.33 -0.27,-2.57 z"
               title= "Пазарджик област"
               value= "region_pz"
               id= "BG-13">
               <title>Пазарджик област</title>
         </path>
      </g>
      <g>
         <circle id="BG-13-point" cx="200" cy="273" r="7" stroke="#0c3c55" fill="white"></circle>
         <title>Пазарджик</title>
      </g>
   <!-- Перник -->
      <g>
         <path
               d= "m 26.288129,178.56737 1.71,2.04 1.68,-0.62 1.67,0.85 0.6,1.22 1.61,-2.24 0.85,0.6 0.79,-0.97 2.64,0.21 1.28,-1.26 0,0 1.13,1.11 0.65,3.36 4.01,-0.28 1.44,1.4 1.74,3.81 4.77,0.75 2.89,2.64 4.26,0.77 1.98,3.14 5.34,2.3 1.35,2.13 0,0 1.12,2.25 3.22,1.76 1.98,3.4 2.31,0.82 1.68,1.62 1.17,6.44 -0.95,2.2 4.52,0.78 3.79,5.68 2.59,-0.54 0.25,1.64 0,0 -1.93,2.6 -1.92,6.58 0.24,8.17 0.9,5.17 0,0 -2.98,2.26 -3.11,-0.44 -2.28,-1.83 -3.42,-1.43 -1.06,-4.37 -0.8,0.16 -2.28,3.75 -3.12,0.53 -3.78,-1.95 -1.03,-1.89 -1.97,-0.45 -1.16,0.7 -1.03,2.08 -3.33,1.14 -1.26,3.66 -1.21,0 -1.64,-2.15 -1.31,-0.32 -2.05,2.08 -0.94,-0.38 -0.43,-2.7 -2.85,0 -2.11,-3.16 -4.68,-0.38 -1.02,-0.64 -1.24,-4.57 -4.21,-6.64 -0.42,-6.32 -5.6,-2.97 -2.26,-4.18 -1.35,-5.31 -2.25,-1.21 -3.69,-0.76 -2.24,-2.53 -1.77,-0.82 0,0 -1.4,-1.33 1.08,-0.56 1.75,-3.76 0.88,-0.15 0.29,-2.39 -3.85,-4.9 -0.4,-1.9 -1.4299996,-1.88 -0.14,-2.36 3.3399996,-1.08 3.06,-2.46 0.92,-1.05 0.36,-2.13 1.37,-0.85 3.92,2.17 -0.03,-1.73 1,-1.94 z"
               title= "Перник област"
               value= "region_pk"
               id= "BG-14">
               <title>Перник област</title>
         </path>
      </g>
      <g>
         <circle id="BG-14-point" cx="63" cy="207" r="7" stroke="#0c3c55" fill="white"></circle>
         <title>Перник</title>
      </g>
   <!-- Плевен -->
      <g>
         <path
               d= "m 232.91813,72.747375 2.23,-0.42 4.88,-3.07 7.8,0.54 3.84,-1.62 1.02,-1.09 2.47,-0.42 3.78,0.33 5.62,4.68 4.29,1.04 1.89,-0.18 2.13,-1.27 4.1,-0.47 7.69,2.73 0,0 -4.59,2.86 -1.15,1.94 1.18,4.03 -0.31,3.68 -1.38,2.7 2.43,4.03 -1.33,8.349995 -1.09,1.18 -5.47,1.83 -1.1,1.82 0.34,1.61 0.95,0.47 6.92,-0.75 0.52,1.52 -1.36,2.89 -0.23,2.22 3.89,0.76 0.79,2.11 -1.05,3.52 -7.19,7.32 0,0 -2.42,-2.14 -5.36,-2.45 -1.12,-1.46 -1.97,-6.26 -1.51,-0.51 -2.49,5.51 -3.68,3.59 -2.21,0 -2.84,1.68 -4.66,-1.66 -2.62,-1.84 -4.58,-0.24 -3.96,1.69 -4.52,3.64 -2.42,4.41 -3.16,-3.47 -0.55,1.1 0.18,4.48 -0.74,1.53 -17.48,-2.24 -3.4,-3.29 -2.82,-0.62 -1.14,-2.15 -3.37,3.6 -1.8,-0.12 -4.08,1.94 -6.1,0.62 -6.36,-1.66 -3.31,0.92 -3.19,2.49 -5.5,0.58 -1.5,0.74 0,0 -2,-2.39 -4.04,1.26 -0.76,-0.11 -1.31,-1.9 1.82,-15.25 2.36,-1.74 10.96,-0.97 1.17,-3.2 -0.23,-1.28 0.87,-0.75 7.24,-1.61 1.67,0.62 1.43,-0.31 0.39,-4.64 1.23,-2.2 -6.95,-2.939995 -0.15,-7.48 -1.62,-5.45 1.37,-0.8 3.23,1.3 5.7,-7.25 1.74,-0.11 1.81,2.56 0.37,-2.02 1.66,1.06 2.11,-9.53 0,0 3.24,-1.93 2.71,-3.18 10.3,-3.63 11.57,2.78 5.98,5.79 z"
               title= "Плевен област"
               value= "region_pleven"
               id= "BG-15">
               <title>Плевен област</title>
         </path>
      </g>
      <g>
         <circle id="BG-15-point" cx="227" cy="112" r="7" stroke="#0c3c55" fill="white"></circle>
         <title>Плевен</title>
      </g>
   <!-- Пловдив -->
      <g>
         <path
               d= "m 200.84813,194.12737 9.28,-0.17 3.7,-4.56 12.77,1.51 4.22,3.32 2.31,4.37 2.65,0.77 9.18,-1.52 4.01,1.8 2.19,0.06 9.7,-4.27 0,0 0,0 0,0 -1.02,2.35 0.45,11.76 -3.18,7.08 1.77,7.5 2.99,5.26 3.44,1.38 2.09,0 8.35,-3.57 1.42,0.67 0.9,2.86 -0.4,2.55 -4.15,4.19 0.16,1.32 2.76,3.12 -0.05,1.89 -0.82,0.36 -3.29,-1.35 -0.71,1.6 -0.01,12.2 1.08,-0.03 2.87,1.94 0.65,1.53 -7.6,2.73 -2.31,1.55 -1.06,4.98 0.44,3.58 2.27,2.16 4.81,1.79 5.07,-1.61 4.35,0.06 3.82,-2.47 2.82,4.27 4.19,3.76 0,0 -3.98,10.34 0.65,4.05 -0.23,6.41 -2.56,3.16 0,0 -9.28,5.5 -3.62,5.09 -1.7,4.49 -1.78,0.96 -1.8,2.63 -2.2,1.07 0,0 -3.36,-3.02 -1.38,-2.67 -1.18,-0.14 -1.86,1.67 -0.3,6.59 -3.77,4.37 -3.14,0.76 -3.74,-0.97 -1.82,2.9 -2.43,0.97 -1.91,3.09 -3.05,-6.58 0.06,-2.15 1.26,-2.81 -0.78,-0.34 -0.58,-2 -1.58,1.34 -1.33,-2.45 1.49,-1.9 0.92,-5.11 -0.16,-1.78 -1.92,-2.35 -1.06,-0.63 -3.74,0.48 -5.6,-1.41 -7.44,2.91 -3.96,0.29 -1.34,-0.85 -3.38,-5.29 -2.69,0.29 -4.27,-1.89 0,0 2.54,-7.92 0.33,-4.71 -0.96,-5.16 1.32,-3.62 0.21,-5.08 2.43,-1.23 2.64,0.2 0.74,-1.24 -0.48,-1.77 -4.4,-5.71 -0.37,-1.73 -0.15,-6.19 -1.57,-4.68 1.87,-1.53 -0.19,-4.01 -4.54,-4.93 -0.4,-3.8 -3.79,-9.33 0.55,-2.66 3.23,-3.4 0.76,-2 -0.16,-2.66 0,0 5.76,-1.01 2.37,-6.1 -5.07,-5.04 -6.11,-2.49 -1.7,-1.82 -0.36,-3.12 z"
               title= "Пловдив област"
               value= "region_pb"
               id= "BG-16">
               <title>Пловдив област</title>
         </path>
      </g>
      <g>
         <circle id="BG-16-point" cx="230" cy="280" r="7" stroke="#0c3c55" fill="white"></circle>
         <title>Пловдив</title>
      </g>
   <!-- Разград -->
      <g>
         <path
               d= "m 392.70813,38.267375 6.44,-0.24 2.77,0.8 2.35,3.78 6.73,-0.8 2.5,3.31 0.79,4.33 7.25,2.34 3.46,0.21 2.04,1.24 2.65,-0.6 1.27,2.22 0.76,0.2 3.55,-3.66 3.77,4.61 4.41,1.37 2.84,5.33 3.51,0.38 1.37,4.08 4.17,3.88 0,0 0.98,1.54 -0.05,3.07 -1.47,2.21 -4.29,2.12 -1.25,2.92 -1.97,1.15 -2.61,0.04 -3.1,-1.66 -0.94,4.23 -5.72,4.86 -0.44,2.11 1.18,0.34 -0.43,3.6 -3.64,2.639995 0.07,1.77 -2.47,0.94 -0.48,0.95 0.85,1.93 -0.53,1.58 3.9,2.24 0.96,1.96 -1.28,2.34 -2.97,2.02 0,0 -2.62,0.47 -1.16,-1.04 -1.5,0.99 -1.99,-1.65 -1.37,3.71 -0.88,0.7 -1.61,-0.84 -4.04,0.3 -5.4,-2.36 -4.82,2.18 -2.97,-0.53 0.33,2.08 -1.23,0.66 -2.76,4.69 -0.18,2.61 -4.14,1.99 -1.17,-1.92 1.36,-2.63 -1.29,-2.02 -3.16,-1.12 -0.71,-2.4 6.97,-4.83 2.85,-3.04 -0.27,-3.38 1.02,-1.89 -0.17,-1.06 -5.3,-1.27 -1.16,-1.63 -1.32,-4.719995 -4.04,-0.88 -2.8,-3.68 -2.46,-1.24 -1.37,-1.6 -1.48,-0.16 -1.8,0.81 -2.27,3.16 -0.99,-0.43 -6.25,0.52 -1.77,-1.2 0,0 -1.72,-4.45 -1.82,-2.48 0.94,-1.29 -0.54,-2.03 4.26,-1.58 2.36,-0.15 4.32,-5.27 3.71,0.83 7,5.33 8.58,-2.85 5.51,1.25 5.9,-0.73 3.25,-4.98 -0.01,-6.82 -1.56,-3.95 -2.03,-1.8 -3.98,-0.73 -3.66,-3.24 -1.12,-0.17 -2.08,1.71 -0.79,-1.27 -4.44,0.73 -2.49,-0.36 -2.48,-1.35 0.07,-2.99 0.78,-1.26 2.88,-1.62 2.89,-8.82 2.8,-3.06 z"
               title= "Разград област"
               value= "region_pz"
               id= "BG-17">
               <title>Разград област</title>
         </path>
      </g>
      <g>
         <circle id="BG-17-point" cx="402" cy="97" r="7" stroke="#0c3c55" fill="white"></circle>
         <title>Разград</title>
      </g>
   <!-- Русе -->
      <g>
         <path
               d= "m 389.43813,25.597375 1.13,4.46 4.14,4.03 -2,4.18 0,0 -0.46,1.63 -2.8,3.06 -2.89,8.82 -2.88,1.62 -0.78,1.26 -0.07,2.99 2.48,1.35 2.49,0.36 4.44,-0.73 0.79,1.27 2.08,-1.71 1.12,0.17 3.66,3.24 3.98,0.73 2.03,1.8 1.56,3.95 0.01,6.82 -3.25,4.98 -5.9,0.73 -5.51,-1.25 -8.58,2.85 -7,-5.33 -3.71,-0.83 -4.32,5.27 -2.36,0.15 -4.26,1.58 0.54,2.03 -0.94,1.29 1.82,2.48 1.72,4.45 0,0 -6.32,3.03 -1.69,8.559995 -1.97,2.38 -1.46,3.22 -2.27,1.69 4.95,4.22 -0.44,4.86 0,0 -4.98,-1.12 -1.88,-4.46 -4.59,1.86 -5.74,-2.26 -4.55,0.24 -3.36,-1.58 -3.98,-3.65 -1.48,0.15 -3,2.41 -9.84,-5.38 1.55,-3.87 -0.09,-2.38 -0.9,-1.14 -1.73,-0.549995 -0.63,-1.96 -1.9,-1.24 -3.64,-9.2 0.2,-1.54 1.72,-2.29 -0.35,-2.39 -1.08,1.14 -1.45,0.05 -2.33,-1.92 0,0 3.82,-1.91 7.3,-0.13 9.92,-6.02 6.95,-0.23 5.11,-2.73 2.79,-4.92 3.8,-1.7 2.75,-2.69 7.33,-11.21 10.16,-6.24 2.42,-5.2 2.58,-2.9 4.02,-2.48 5.15,-0.01 10.26,-5.52 z"
               title= "Русе област"
               value= "region_rs"
               id= "BG-18">
               <title>Русе област</title>
         </path>
      </g>
      <g>
         <circle id="BG-18-point" cx="355" cy="50" r="7" stroke="#0c3c55" fill="white"></circle>
         <title>Русе</title>
      </g>
   <!-- Силистра -->
      <g>
         <path
               d= "m 464.02813,11.527375 3.34,-0.26 7.36,3.1 3.08,0.18 3.53,-1.26 1.35,2.45 -0.7,1.5 1.37,3.12 6.43,2.34 4.25,6.1 7.06,-1.37 13.64,1.32 3.13,-4.83 2.88,2.4 2.89,7.48 0,0 -4.81,1.66 -2.15,1.7 -3.73,5.35 -0.01,2.78 -3.05,-0.38 -2.46,-2.64 -1.94,4.91 -3.04,3.65 -1.99,0.37 -2.03,-2.31 -1.19,0.24 -9.71,9.15 -5.7,1.2 -6.96,7.95 -0.21,2.07 1.32,2.67 -0.04,1.38 -0.37,0.85 -1.54,0.23 0,0 -2.1,-0.69 -2.19,0.86 -3.53,-3.32 -1.98,-3.48 -1.04,-0.17 -5.34,2.91 -2.51,0.31 0,0 -4.17,-3.88 -1.37,-4.08 -3.51,-0.38 -2.84,-5.33 -4.41,-1.37 -3.77,-4.61 -3.55,3.66 -0.76,-0.2 -1.27,-2.22 -2.65,0.6 -2.04,-1.24 -3.46,-0.21 -7.25,-2.34 -0.79,-4.33 -2.5,-3.31 -6.73,0.8 -2.35,-3.78 -2.77,-0.8 -6.44,0.24 0,0 2,-4.18 -4.14,-4.03 -1.13,-4.46 0,0 4.84,-1.33 5.87,1.15 9.1,-2.51 6.24,0.38 5.79,-1.5 3.32,-1.69 3.17,0.45 3.21,-0.66 9.17,-5.3 5.48,-2.23 8.17,-0.23 7.13,-2.1300001 z"
               title= "Силистра област"
               value= "region_silistra"
               id= "BG-19">
               <title>Силистра област</title>
         </path>
      </g>
      <g>
         <circle id="BG-19-point" cx="472" cy="12" r="7" stroke="#0c3c55" fill="white"></circle>
         <title>Силистра</title>
      </g>
   <!-- Сливен -->
      <g>
         <path
               d= "m 374.58813,170.93737 4.98,-4.25 1.97,-5.83 2.29,0.41 2.88,-1.44 0.76,0.51 -0.41,3.6 0.71,0.75 2.53,-2.39 2.27,1.96 2.55,0.93 3.29,-0.18 6.61,-1.91 10.1,1.55 0,0 -6.42,5.68 -0.55,2.82 1.2,1.45 0,0 3.11,0.06 -0.44,2.58 1.98,7.05 -1.13,2.97 0.03,2.96 2.73,3.35 3.99,0.45 1.37,1.29 2.9,5.52 -0.37,3.63 0,0 -1.95,-1.5 -0.63,0.34 -0.04,1.16 1.92,3.3 -0.03,3.99 -2.89,3.61 -1.07,-0.51 -1.03,-1.8 -2.84,4.56 -4.84,0.49 -8.77,5.48 -5.47,-0.9 -3.97,3.27 1.9,1.3 0.34,2.18 -2.54,1.88 -1.99,3.05 -4.1,0.53 -1.46,2.01 -6.76,-1.87 -1.32,0.83 0.27,5.93 -0.95,0.38 -2.02,-1.78 -1.16,-0.16 -0.06,1.85 2.28,3.07 1.89,-0.92 2.32,-2.61 0.84,1.65 -0.63,8.07 -3.41,5.73 -2.37,7.17 0,0 -10.26,-6.15 -1.82,0.31 -1.87,2.18 -0.03,-2.01 -1.79,-0.81 -1.84,-2.12 -3.58,-1.22 -1.16,-1.33 -2.81,-9.67 -3.76,-4.58 0.19,-1.77 2.21,-4.09 -3.57,-8.27 2.54,-4.15 0.49,-2.38 -3.04,-5.11 -1.18,-7.1 -4.02,-8.02 -0.38,-6.89 0,0 5.25,0.97 5.83,-1.44 4.14,1.55 1.47,-0.08 6.82,-5.42 0.32,-2.51 -1.13,-2.06 0.5,-1.03 11.45,-6.08 z"
               title= "Сливен област"
               value= "region_sliven"
               id= "BG-20">
               <title>Сливен област</title>
         </path>
      </g>
      <g>
         <circle id="BG-20-point" cx="383" cy="212" r="7" stroke="#0c3c55" fill="white"></circle>
         <title>Сливен</title>
      </g>
   <!-- Смолян -->
      <g>
         <path
               d= "m 202.41813,305.86737 4.27,1.89 2.69,-0.29 3.38,5.29 1.34,0.85 3.96,-0.29 7.44,-2.91 5.6,1.41 3.74,-0.48 1.06,0.63 1.92,2.35 0.16,1.78 -0.92,5.11 -1.49,1.9 1.33,2.45 1.58,-1.34 0.58,2 0.78,0.34 -1.26,2.81 -0.06,2.15 3.05,6.58 1.91,-3.09 2.43,-0.97 1.82,-2.9 3.74,0.97 3.14,-0.76 3.77,-4.37 0.3,-6.59 1.86,-1.67 1.18,0.14 1.38,2.67 3.36,3.02 0,0 -0.4,1.19 0.74,3.12 2.15,5.88 -1.29,4.77 0.27,6.12 -2.1,2.45 -7.16,2.62 -1,1.29 0.17,1.93 1.59,4.69 0.26,3.45 5.05,1.88 5.54,-2.66 2.79,1.25 0.94,1.34 0.7,2.46 -1.31,4.61 0.67,0.58 1.92,-0.27 0.43,0.99 -3.75,4.82 0.95,2.04 0.23,3.71 2.03,1.06 -0.32,2.29 0,0 -3.38,-1.18 -1.87,-2.27 -1.53,0.78 -2.17,-0.91 -2.34,-3.07 -7.39,-1.41 -3.6,-1.38 -2.8,-2.79 -1.9,0.28 -1.2,1.74 -0.79,0.12 -5.4,-1.21 0.39,1.81 -0.64,4.12 -1.35,1.06 -5.52,-4.48 -1.65,-4.46 -3.42,-0.39 -1.07,-0.79 -2.41,1.01 0.41,-1.87 -0.79,-0.47 -4.33,1.13 -1.25,-1.95 -0.1,-2.99 -2.31,-1.51 -1.28,-3.49 0.26,-1.82 -1.58,-3.06 0.7,-1.3 -1,-0.94 -0.87,0.19 0.02,-1.04 -0.72,-0.48 -5.15,2.12 -1.12,1.05 -0.12,2.03 -1.09,0.82 -1.12,-0.93 -2.38,-0.11 -0.98,-1.29 -2.02,0.4 -1.8,2.51 -2.65,-1.19 -3.5,1.94 -0.66,-1.96 0.54,-1.51 -3.1,-2.62 0.43,-1.25 -1.22,-0.71 -2.1,1.33 -1.06,1.85 -1.95,-0.28 -1.87,2.5 0.23,1.4 -0.73,0.73 -1.32,-0.21 0.16,-0.69 -1.25,-0.87 -0.22,-1.01 -2.44,0.3 -0.28,-0.88 -2.34,-0.32 -0.39,-0.92 -2.48,1.11 -0.44,1.38 -1.1,0.78 0,0 -0.13,-2.87 2.46,-6.06 -0.35,-3.28 3.17,-4.45 -1.06,-2.27 0,0 1.21,-8 8.86,-1.21 5.87,1.47 2.91,-1.6 1.35,-1.9 1.59,-0.38 -0.91,-4.31 0.69,-4.2 2.39,-3.21 4.72,-2.03 1.17,-1.55 1.03,-2.62 z"
               title= "Смолян област"
               value= "region_sm"
               id= "BG-21">
               <title>Смолян област</title>
         </path>
      </g>
      <g>
         <circle id="BG-21-point" cx="228" cy="350" r="7" stroke="#0c3c55" fill="white"></circle>
         <title>Смолян</title>
      </g>
   <!-- София -->
      <g>
         <path
               d= "m 57.248129,137.06737 2.68,-1.45 1.87,0.12 2.5,3.28 3.94,2.19 3.05,4.45 2.3,1.38 11.14,0.07 4.2,-1.31 4.14,-0.1 2.16,-3.03 2.23,-1.72 6.400001,0.37 0,0 6.23,0.56 2.4,0.88 0.18,1.31 -3.77,5.3 0.85,5.12 5.9,9 2.65,1.73 9.78,-8.62 3.72,2.4 1.32,0 5.53,-3.48 3.82,-0.81 2.55,1.89 9.58,0.26 4.8,2.44 1.08,-1.08 -0.1,-2.93 0,0 6.09,0.31 0.58,3.54 4.89,2.44 0.86,6.28 6.84,3.66 -2.45,1.8 -0.68,1.36 3.13,2.21 0.38,4.74 2.61,1.96 -0.94,1.54 -0.05,1.78 -3.26,2.17 0.21,1.35 6.97,1.28 5.4,-0.43 9.89,2.85 0,0 -3.93,9 0.36,3.12 1.7,1.82 6.11,2.49 5.07,5.04 -2.37,6.1 -5.76,1.01 0,0 -2.55,-2.38 -2.88,1.7 -1.23,-2.25 -1.93,-7.44 -3.26,-0.8 -2.87,-1.62 -4.57,1.98 -4.27,0.38 -1.1,4.92 -1.95,0.46 -2.8,-0.55 -6.04,6.54 -2.18,-0.19 -4.21,-2.76 -5.79,1.28 -0.57,1.6 1.37,7.51 3.75,5.94 1.47,1.1 2.08,-0.06 5.04,-2.18 1.28,0.89 0.18,2.32 -3.69,7.74 -1.89,1.66 -3.99,0.45 -1.27,0.89 -2,6.19 1.75,3.46 -0.28,1.21 -3.19,1.71 -2.18,-2.74 -5.14,6.81 -4.39,2.58 -3.37,3.4 0,0 -2.72,0 -0.53,1.33 1.33,2.4 -1,0.81 -1.53,-0.08 -3.38,-1.53 -1.92,-3.83 -2.86,0.81 -1.32,-0.9 -2.39,0.09 -1.18,1.51 -1.43,7.87 -1.29,2.22 -2.6,2.03 -3.16,-0.75 -2.65,0.98 0,0 1.97,-3.01 1.91,-0.69 0.21,-2.4 -7.11,-3.05 -1.71,-5.63 -6.580001,2.17 -1.62,-0.76 -0.26,-0.82 2.480001,-5.93 4.9,-1.82 0,-1.36 -6.550001,-5.31 -2.3,-7.08 -2.31,-0.69 -3.46,0.2 -2.65,-1.14 0,0 -0.9,-5.17 -0.24,-8.17 1.92,-6.58 1.93,-2.6 0,0 1.06,1.09 4.2,1.03 1.07,1.64 2.52,1.57 4.350001,6.26 1.18,0.38 1.69,-0.99 0.45,-3.9 1.81,-5.03 2.72,0.31 0.84,0.53 2.78,6.38 0.46,2.26 -0.42,3.45 0.68,2.84 1.86,-0.71 4.57,1.72 5.96,-2.16 -2.23,-7.4 -2.45,-3.95 0.16,-1.93 -1.38,-0.79 -3.19,-5.11 0.48,-6.12 -0.85,-4.76 -0.62,-0.77 -3.23,-0.81 -0.73,-0.93 0.64,-2.44 2.2,-0.86 1.15,-3.95 3.59,-1.26 1.25,-1.24 2.82,-10.68 -1.26,-4.93 -1.59,-0.23 -1.83,1.78 -2.25,0.67 -7.86,-5.1 -11.380001,2.89 -1.81,-0.29 -1.52,-1.58 -1.53,-3.96 -2.03,-2.11 -0.87,0.09 -5.1,12.64 -0.19,2.52 -1.68,2.52 -0.07,1.19 1.52,1.17 -0.71,2.32 -2.82,-0.91 -2.33,1.33 -8.14,-0.27 -3.62,0.54 0,0 -1.35,-2.13 -5.34,-2.3 -1.98,-3.14 -4.26,-0.77 -2.89,-2.64 -4.77,-0.75 -1.74,-3.81 -1.44,-1.4 -4.01,0.28 -0.65,-3.36 -1.13,-1.11 0,0 2.52,-4.92 -0.94,-2.14 1.28,-1.48 0.09,-3.09 6.25,-2.87 1.56,-2.51 3.2,-1.68 2.35,-6.19 3.01,-1.32 3.05,-2.65 1.42,-6.12 -1.08,-1.25 1.97,-3.39 -2.98,-1.74 z"
               title= "София област"
               value= "region_sofia"
               id= "BG-22">
               <title>София област</title>
         </path>
      </g>
      <g>
         <path
               d= "m 68.678129,199.52737 3.62,-0.54 8.14,0.27 2.33,-1.33 2.82,0.91 0.71,-2.32 -1.52,-1.17 0.07,-1.19 1.68,-2.52 0.19,-2.52 5.1,-12.64 0.87,-0.09 2.03,2.11 1.53,3.96 1.52,1.58 1.81,0.29 11.380001,-2.89 7.86,5.1 2.25,-0.67 1.83,-1.78 1.59,0.23 1.26,4.93 -2.82,10.68 -1.25,1.24 -3.59,1.26 -1.15,3.95 -2.2,0.86 -0.64,2.44 0.73,0.93 3.23,0.81 0.62,0.77 0.85,4.76 -0.48,6.12 3.19,5.11 1.38,0.79 -0.16,1.93 2.45,3.95 2.23,7.4 -5.96,2.16 -4.57,-1.72 -1.86,0.71 -0.68,-2.84 0.42,-3.45 -0.46,-2.26 -2.78,-6.38 -0.84,-0.53 -2.72,-0.31 -1.81,5.03 -0.45,3.9 -1.69,0.99 -1.18,-0.38 -4.350001,-6.26 -2.52,-1.57 -1.07,-1.64 -4.2,-1.03 -1.06,-1.09 0,0 -0.25,-1.64 -2.59,0.54 -3.79,-5.68 -4.52,-0.78 0.95,-2.2 -1.17,-6.44 -1.68,-1.62 -2.31,-0.82 -1.98,-3.4 -3.22,-1.76 z"
               title= "София"
               value= "city_sofia"
               id= "BG-23">
               <title>София</title>
         </path>
      </g>
   <!-- Стара Загора -->
      <g>
         <path
               d= "m 321.27813,194.98737 3.09,-2.03 6.3,-2.33 3.91,0.71 2.72,-0.28 0,0 0.38,6.89 4.02,8.02 1.18,7.1 3.04,5.11 -0.49,2.38 -2.54,4.15 3.57,8.27 -2.21,4.09 -0.19,1.77 3.76,4.58 2.81,9.67 1.16,1.33 3.58,1.22 1.84,2.12 1.79,0.81 0.03,2.01 1.87,-2.18 1.82,-0.31 10.26,6.15 0,0 3.6,2.24 0,0 -8.09,7.96 -0.14,2.98 1.85,4.23 1.68,8.21 -3.73,0.95 -2.21,-0.5 -3.25,3.45 -2.09,-0.59 -4.18,-8.54 -4.26,-0.53 -2.35,-2.27 -3.4,-0.1 -2.76,-2.1 -1.35,0.9 -1.53,5.76 -4.02,2.3 -2.24,0.1 -1.34,1.2 -1.99,-0.11 -1.67,-5.55 -2.39,-2.51 -1.91,-4.47 -1.83,0.05 -3.73,3.4 -1.09,0.06 -0.14,-8.79 -1.24,-2.46 -1.19,0.6 -1.67,2.68 -4.23,2.8 0.18,0.75 1.65,-0.15 -0.93,1.81 -1.64,-0.07 -2.69,-2.05 -1.3,0.3 -0.41,3.26 -3.44,4.56 -1.08,0.06 -4.71,-2.91 -2.76,-0.3 0,0 -4.19,-3.76 -2.82,-4.27 -3.82,2.47 -4.35,-0.06 -5.07,1.61 -4.81,-1.79 -2.27,-2.16 -0.44,-3.58 1.06,-4.98 2.31,-1.55 7.6,-2.73 -0.65,-1.53 -2.87,-1.94 -1.08,0.03 0.01,-12.2 0.71,-1.6 3.29,1.35 0.82,-0.36 0.05,-1.89 -2.76,-3.12 -0.16,-1.32 4.15,-4.19 0.4,-2.55 -0.9,-2.86 -1.42,-0.67 -8.35,3.57 -2.09,0 -3.44,-1.38 -2.99,-5.26 -1.77,-7.5 3.18,-7.08 -0.45,-11.76 1.02,-2.35 0,0 7.19,0.91 4.22,-2.51 3.52,-0.27 2.84,-2.19 6.24,3.77 3.7,-0.56 11.92,3.3 1.16,-1.03 -0.43,-3.62 3.14,0.24 2.88,2.92 3.55,0.8 1.83,-0.18 2.91,-2.21 3.23,2.8 2.33,-0.96 z"
               title= "Стара Загора област"
               value= "region_st"
               id= "BG-24">
               <title>Стара Загора област</title>
         </path>
      </g>
      <g>
         <circle id="BG-24-point" cx="315" cy="240" r="7" stroke="#0c3c55" fill="white"></circle>
         <title>Стара Загора</title>
      </g>
   <!-- Търговище -->
      <g>
         <path
               d= "m 365.71813,93.297375 1.77,1.2 6.25,-0.52 0.99,0.43 2.27,-3.16 1.8,-0.81 1.48,0.16 1.37,1.6 2.46,1.24 2.8,3.68 4.04,0.88 1.32,4.719995 1.16,1.63 5.3,1.27 0.17,1.06 -1.02,1.89 0.27,3.38 -2.85,3.04 -6.97,4.83 0.71,2.4 3.16,1.12 1.29,2.02 -1.36,2.63 1.17,1.92 4.14,-1.99 0.18,-2.61 2.76,-4.69 1.23,-0.66 -0.33,-2.08 2.97,0.53 4.82,-2.18 5.4,2.36 4.04,-0.3 1.61,0.84 0.88,-0.7 1.37,-3.71 1.99,1.65 1.5,-0.99 1.16,1.04 2.62,-0.47 0,0 -1.23,1.59 0.66,7.86 3.26,2.98 0.49,2.52 -1.47,2.2 -4.34,3.93 -0.43,2.82 -1.73,3.25 -2.25,0.87 -1.73,-0.6 0.82,3.91 1.93,4.14 -0.03,1.62 -2.01,1.21 -0.52,2.42 -2.77,1.8 -0.63,2.87 0.67,1.71 -3.21,1.6 0,0 -10.1,-1.55 -6.61,1.91 -3.29,0.18 -2.55,-0.93 -2.27,-1.96 -2.53,2.39 -0.71,-0.75 0.41,-3.6 -0.76,-0.51 -2.88,1.44 -2.29,-0.41 -1.97,5.83 -4.98,4.25 0,0 -11.15,-3.91 0.53,-1.93 2.74,-1.43 0.45,-1.46 -3.63,-3.08 -0.65,-1.45 -0.81,-3.43 0.37,-6.7 1.28,-2.61 0.64,-3.54 3.11,-2.17 0.05,-1.72 -0.42,-1.34 -2.32,-2.37 -0.25,-1.38 -2.32,-1.9 0.95,-2.9 -6.64,-6.36 0,0 0.44,-4.86 -4.95,-4.22 2.27,-1.69 1.46,-3.22 1.97,-2.38 1.69,-8.559995 z"
               title= "Търговище област"
               value= "region_t"
               id= "BG-25">
               <title>Търговище област</title>
         </path>
      </g>
      <g>
         <circle id="BG-25-point" cx="410" cy="130" r="7" stroke="#0c3c55" fill="white"></circle>
         <title>Търговище</title>
      </g>
   <!-- Хасково -->
      <g>
         <path
               d= "m 376.57813,266.47737 3.01,2.15 4.32,0.94 3.28,2.99 2.81,0.21 3.16,1.35 2.46,-1.41 2.51,2 3.89,-0.92 1.56,2.76 3.63,-0.4 -1.05,7.49 0.6,6.27 -2.44,2.37 -0.07,2.77 1.36,0.84 0.8,2.5 1.19,1.09 0.23,2.09 3.9,4.73 0,0 2.12,2.91 -1.55,2.38 1.28,1.75 -1.41,0.74 -0.12,1.56 -1.36,1.14 -1.11,2.94 -15,0.06 -1.99,0.74 -3.58,8.68 -0.05,1.86 2.87,3.21 -2.8,-0.48 -2.17,0.86 -2.24,-0.36 -3.13,-1.4 -2.21,-2.35 -1.13,0.96 -1.77,-0.19 -1.86,-0.75 -0.87,-1.21 -4.77,2.48 -1.09,2.26 -2.61,-0.46 -1.58,0.98 -0.8,2.67 1.13,5.38 1.71,0.67 0.57,1.99 2.22,0.43 0.45,-0.94 1.36,-0.28 0.11,2.35 1.52,1.23 -0.58,6.49 2.92,0.33 0.79,4.54 -1.28,1.63 -0.17,1.69 -1.59,0.76 -0.07,0.88 0.47,1.45 1.65,0.72 2.49,3.65 -3.05,0.45 -1.12,1.5 0.55,1.66 -0.48,2.13 -1.01,1.78 -1.17,0.37 -0.59,2.56 -3.18,-0.11 -1.03,1.29 -5.09,-0.49 -2.75,0.92 -0.89,2.27 -2.85,0.93 -3.13,-0.27 0,0 -0.47,-4.21 -1.02,-1.77 -8.46,-8.06 -0.18,-3.42 0.83,-3.31 -1.38,-0.66 -1.68,-2.59 -2.13,-0.94 -0.12,-2.29 1.93,-6.44 1.77,-2.02 2.42,-1.25 -1.65,-5.34 -5.84,-0.78 -1.96,0.86 -0.8,2.28 -2.74,1.83 -3.74,-1.66 -2.39,1.53 -1.02,-2.58 0.99,-1.73 0.39,-2.79 -2.07,-4.14 -0.9,-5.92 -2.21,-2.78 -1.21,-0.27 -4.71,2.02 -8.48,-2.61 -3.44,-2.66 -3.94,-1.51 -2.35,-5.64 -1.26,0.32 -0.93,2.12 -1.42,0.54 -1.91,2.17 -3.11,-12.3 1.32,-4.43 0,0 2.56,-3.16 0.23,-6.41 -0.65,-4.05 3.98,-10.34 0,0 2.76,0.3 4.71,2.91 1.08,-0.06 3.44,-4.56 0.41,-3.26 1.3,-0.3 2.69,2.05 1.64,0.07 0.93,-1.81 -1.65,0.15 -0.18,-0.75 4.23,-2.8 1.67,-2.68 1.19,-0.6 1.24,2.46 0.14,8.79 1.09,-0.06 3.73,-3.4 1.83,-0.05 1.91,4.47 2.39,2.51 1.67,5.55 1.99,0.11 1.34,-1.2 2.24,-0.1 4.02,-2.3 1.53,-5.76 1.35,-0.9 2.76,2.1 3.4,0.1 2.35,2.27 4.26,0.53 4.18,8.54 2.09,0.59 3.25,-3.45 2.21,0.5 3.73,-0.95 -1.68,-8.21 -1.85,-4.23 0.14,-2.98 z"
               title= "Хасково област"
               value= "region_haskovo"
               id= "BG-26">
               <title>Хасково област</title>
         </path>
      </g>
      <g>
         <circle id="BG-26-point" cx="310" cy="310" r="7" stroke="#0c3c55" fill="white"></circle>
         <title>Хасково</title>
      </g>
   <!-- Шумен -->
      <g>
         <path
               d= "m 455.33813,71.047375 2.51,-0.31 5.34,-2.91 1.04,0.17 1.98,3.48 3.53,3.32 2.19,-0.86 2.1,0.69 0,0 2.49,2.96 4.52,0.63 4.26,5.93 1.5,0.58 5.84,-3.99 1.11,-0.06 2.59,4.75 0,0 -0.72,1.94 -1.24,0.86 -6.08,2.02 -2.74,0.23 -0.71,0.79 -0.01,3.54 2.65,1.18 0,1.47 -1.92,3.559995 1.88,0.41 0.46,1.77 -5.09,7.72 -0.26,3.33 0.91,2.71 0.36,4.79 -1.92,1.72 -2.75,-0.88 -0.45,1.19 0.39,3.59 1.1,2.44 0.2,3.9 1.85,4.07 -8.98,5.3 -1,3.81 2.47,2.7 0,0 0,3.58 0,0 1.56,5.17 -7.46,1.49 -2.61,1.4 -3.47,0 -1.46,1.99 -1.22,0.55 -0.18,0.85 2.92,1.11 0.6,2.68 1.69,0.94 -0.28,3.91 0,0 -5.02,0.58 -7.24,3.89 -2.01,-0.57 -1.8,-2.89 -1.23,-0.32 -5.55,1.09 -3.9,-1.64 -3.09,0.62 -4.95,-0.26 -6.32,4.48 -7.61,0.06 -0.92,-1.35 1.05,-1.87 -0.64,-0.72 -4.57,-0.58 -1.68,0.82 0,0 -1.2,-1.45 0.55,-2.82 6.42,-5.68 0,0 3.21,-1.6 -0.67,-1.71 0.63,-2.87 2.77,-1.8 0.52,-2.42 2.01,-1.21 0.03,-1.62 -1.93,-4.14 -0.82,-3.91 1.73,0.6 2.25,-0.87 1.73,-3.25 0.43,-2.82 4.34,-3.93 1.47,-2.2 -0.49,-2.52 -3.26,-2.98 -0.66,-7.86 1.23,-1.59 0,0 2.97,-2.02 1.28,-2.34 -0.96,-1.96 -3.9,-2.24 0.53,-1.58 -0.85,-1.93 0.48,-0.95 2.47,-0.94 -0.07,-1.77 3.64,-2.639995 0.43,-3.6 -1.18,-0.34 0.44,-2.11 5.72,-4.86 0.94,-4.23 3.1,1.66 2.61,-0.04 1.97,-1.15 1.25,-2.92 4.29,-2.12 1.47,-2.21 0.05,-3.07 z"
               title= "Шумен област"
               value= "region_shumen"
               id= "BG-27">
               <title>Шумен област</title>
         </path>
      </g>
      <g>
         <circle id="BG-27-point" cx="445" cy="125" r="7" stroke="#0c3c55" fill="white"></circle>
         <title>Шумен</title>
      </g>
   <!-- Ямбол -->
      <g>
         <path
               d= "m 423.51813,204.45737 4.53,5.95 3.69,3.4 3.87,8.94 3.34,4.21 1.59,4.4 2.55,3.06 1.34,3.88 1.98,0.89 4.22,-1.18 0.84,0.85 -0.06,2.48 -1.84,2.29 -7.21,1.23 -1.28,1.51 0.97,4.24 3.54,3.03 1.81,3.93 2.5,1.88 -1.56,3.4 -0.03,1.64 2.32,4.6 0.16,1.6 -2.79,3.29 0.34,2.12 2.7,3.63 5.12,3 2.22,2.98 0,0 -1.43,0.29 0.48,2.63 -1.94,2.76 -2.59,0.22 0.28,2.28 -2.18,3.06 -3.28,-0.52 -2.24,1.82 -3.48,-0.36 -1.99,1.15 -0.67,1.64 -3.03,-0.76 -2.27,-1.92 -3.04,2.85 -0.49,1.29 -3.92,-1.31 -4.62,0.32 -4.07,-1.84 -0.6,1.9 -5.57,5.09 0,0 -3.9,-4.73 -0.23,-2.09 -1.19,-1.09 -0.8,-2.5 -1.36,-0.84 0.07,-2.77 2.44,-2.37 -0.6,-6.27 1.05,-7.49 -3.63,0.4 -1.56,-2.76 -3.89,0.92 -2.51,-2 -2.46,1.41 -3.16,-1.35 -2.81,-0.21 -3.28,-2.99 -4.32,-0.94 -3.01,-2.15 0,0 -3.6,-2.24 0,0 2.37,-7.17 3.41,-5.73 0.63,-8.07 -0.84,-1.65 -2.32,2.61 -1.89,0.92 -2.28,-3.07 0.06,-1.85 1.16,0.16 2.02,1.78 0.95,-0.38 -0.27,-5.93 1.32,-0.83 6.76,1.87 1.46,-2.01 4.1,-0.53 1.99,-3.05 2.54,-1.88 -0.34,-2.18 -1.9,-1.3 3.97,-3.27 5.47,0.9 8.77,-5.48 4.84,-0.49 2.84,-4.56 1.03,1.8 1.07,0.51 2.89,-3.61 0.03,-3.99 -1.92,-3.3 0.04,-1.16 0.63,-0.34 z"
               title= "Ямбол област"
               value= "region_yambol"
               id= "BG-28">
               <title>Ямбол област</title>
         </path>
      </g>
      <g>
         <circle id="BG-28-point" cx="403" cy="233" r="7" stroke="#0c3c55" fill="white"></circle>
         <title>Ямбол</title>
      </g>
   </svg>
</div>

<!-- Home - regions - dropdowns -->
<div class="d-flex justify-content-center" style="margin: 20px">
      <select id="regions-dropdown" class="browser-default custom-select" #regionSelect (change)='updateRegion(regionSelect.value)'>
            <option *ngFor="let region of regions" [title]="region.id">{{region.title}}</option>
      </select>
</div>

<!-- Home - search - buttons -->
<div class="d-flex justify-content-center" style="margin-bottom: 30px;">
      <button type="button" routerLink="centers/{{currentSelectedRegion}}" class="btn btn-primary btn-lg" style="width: auto; margin-right:10px; margin-top: 5px; height: auto; background-color: #0c3c55 !important;">
         <p style="font-weight: 600; font-size: 20px !important; color: white; margin: 0px; font-family: Arial, Helvetica, sans-serif;">
            Виж най-близките центрове до теб...
         </p>
      </button>
</div>
