#home-title {
    font-weight: 900;
    color: #0c3c55;
    /* color: #f26e29; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 44px;
    margin: 17px;
}

#regions-dropdown {
    width: 500px;
    height: 40px;
}



path {
    fill: #1495ba;
    stroke: #0c3c55;
    stroke-width: 2px;
}

path:hover {
    fill: #ba14a4;
}

circle:hover {
    fill: #ba14a4;
}
