<div class="d-flex justify-content-center" style="margin-top: 40px;">
    <p style="font-weight: 900; font-size: 40px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #0c3c55;">Какви награди можем да спечелим?</p>
</div>

<!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4" style="background:rgba(156, 86, 247, 0.6); margin: 40px;">
    <div class="row">
        <div class="col-md-4 offset-md-1 mx-3 my-3">
            <div class="view overlay waves-light" mdbWavesEffect>
            <img src="./../../../../assets/LSUZVWQC.jpg" class="img-fluid" alt="Sample image for first version of blog listing">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
            </div>
        </div>
        <div class="col-md-7 text-md-left ml-3 mt-3">
            <h4 class="h4 mb-4" style="color: #0c3c55; font-weight: 700;">Почивка за двама за две нощувки!</h4>
            <p class="font-weight-normal" style="color: #0c3c55; font-weight: 500; font-size: 18px; text-align: justify;">Спечелете и се насладете на почивка за двама за две нощувки в избрана от вас дестинация!Нашите спонсори
                ще поемат всички разноски. Необходимо е да сте сред пъврите 5 в ранглистата на текущата кампания. Дарете и спечелете! 
                Спечелете и се насладете на почивка за двама за две нощувки в избрана от вас дестинация!Нашите спонсори
                ще поемат всички разноски. Необходимо е да сте сред пъврите 5 в ранглистата на текущата кампания. Дарете и спечелете! 
                Спечелете и се насладете на почивка за двама за две нощувки в избрана от вас дестинация!Нашите спонсори
                ще поемат всички разноски. Необходимо е да сте сред пъврите 5 в ранглистата на текущата кампания.
            </p>
            <p class="font-weight-normal" style="color: #0c3c55;">от <a><strong>Life of giving</strong></a>, 19/08/2020</p>
        </div>
    </div>
</div>
<!-- News jumbotron -->

<!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4" style="background:rgba(20, 149, 186, 0.4); margin: 40px;">
    <div class="row">
        <div class="col-md-7 text-md-left ml-3 mt-3">
            <h4 class="h4 mb-4" style="color: #0c3c55; font-weight: 700;">Вземете сертификат за дарител на годината!</h4>
            <p class="font-weight-normal" style="color: #0c3c55; font-weight: 500; font-size: 18px; text-align: justify;">Спечелете и се насладете на почивка за двама за две нощувки в избрана от вас дестинация!Нашите спонсори
                ще поемат всички разноски. Необходимо е да сте сред пъврите 5 в ранглистата на текущата кампания. Дарете и спечелете! 
                Спечелете и се насладете на почивка за двама за две нощувки в избрана от вас дестинация!Нашите спонсори
                ще поемат всички разноски. Необходимо е да сте сред пъврите 5 в ранглистата на текущата кампания. Дарете и спечелете! 
                Спечелете и се насладете на почивка за двама за две нощувки в избрана от вас дестинация!Нашите спонсори
                ще поемат всички разноски. Необходимо е да сте сред пъврите 5 в ранглистата на текущата кампания.
            </p>
            <p class="font-weight-normal">от <a><strong>Life of giving</strong></a>, 19/08/2020</p>
        </div>
        <div class="col-md-4 offset-md-1 mx-3 my-3">
            <div class="view overlay waves-light" mdbWavesEffect>
            <img src="./../../../../assets/maxresdefault.jpg" class="img-fluid" alt="Sample image for first version of blog listing">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
            </div>
        </div>
    </div>
</div>
<!-- News jumbotron -->

<!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4" style="background:rgba(156, 86, 247, 0.6); margin: 40px;">
    <div class="row">
        <div class="col-md-4 offset-md-1 mx-3 my-3">
            <div class="view overlay waves-light" mdbWavesEffect>
            <img src="./../../../../assets/2616918.png" style="height: 300px; width: 500px;" class="img-fluid" alt="Sample image for first version of blog listing">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
            </div>
        </div>
        <div class="col-md-7 text-md-left ml-3 mt-3">
            <h4 class="h4 mb-4" style="color: #0c3c55; font-weight: 700;">Вземете ваучери за отстъпка при нашите партньори!</h4>
            <p class="font-weight-normal" style="color: #0c3c55; font-weight: 500; font-size: 18px; text-align: justify;">Спечелете и се насладете на почивка за двама за две нощувки в избрана от вас дестинация!Нашите спонсори
                ще поемат всички разноски. Необходимо е да сте сред пъврите 5 в ранглистата на текущата кампания. Дарете и спечелете! 
                Спечелете и се насладете на почивка за двама за две нощувки в избрана от вас дестинация!Нашите спонсори
                ще поемат всички разноски. Необходимо е да сте сред пъврите 5 в ранглистата на текущата кампания. Дарете и спечелете! 
                Спечелете и се насладете на почивка за двама за две нощувки в избрана от вас дестинация!Нашите спонсори
                ще поемат всички разноски. Необходимо е да сте сред пъврите 5 в ранглистата на текущата кампания.
            </p>
            <p class="font-weight-normal" style="color: #0c3c55;">от <a><strong>Life of giving</strong></a>, 19/08/2020</p>
        </div>
    </div>
</div>
<!-- News jumbotron -->

<div class="d-flex justify-content-center" style="margin: 40px;">
    <p style="font-weight: 900; font-size: 36px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #0c3c55;">Oчаквайте скоро и още...</p>
</div>