<div style="margin-top: 40px; margin-left: 100px; margin-right: 100px; margin-bottom: 30px;">
    <h1 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 40px; font-weight: 900; text-align: center; color: #0c3c55; padding-bottom: 20px;">
        {{campaign.campaignName}}
    </h1>
    <p class="px-5 mb-5 pb-3 lead text-center" style="color: white; font-weight: 700; font-size: 24px; border-radius: 10px; padding-bottom: 0px !important;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; background-color: rgba(0, 0, 0, 0.3);
    margin-bottom: 0px !important;">
        {{campaign.campaignDescription}}
    </p>
</div>

<div class="row" style="margin-left: 60px; margin-right: 60px;">

                <div class="col-7">
                    <div class="row back-to-results">
                            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                    </div>
                </div>

                <div class="col-5">
                    <hr style="border: 1px solid white; margin-top: 0px;">

                    <div class="row" style="margin-left: 20px; margin-bottom: 10px;">
                        <div class="col-5" style="font-family: Arial, Helvetica, sans-serif;
                        font-weight: 800; font-size: 26px; color: #ba14a4; padding: 0px;">Статус:
                        </div>
                        <div *ngIf="campaign.campaignStatus === 'Отворена'" class="col-7" style="font-family: Arial, Helvetica, sans-serif;
                        font-weight: 800; font-size: 26px; color: #0c3c55; padding: 0px;"><p style="color: green; font-weight: 900;">{{campaign.campaignStatus}}<p></p>
                        </div>
                        <div *ngIf="campaign.campaignStatus === 'Затворена'" class="col-7" style="font-family: Arial, Helvetica, sans-serif;
                        font-weight: 800; font-size: 26px; color: #0c3c55; padding: 0px;"><p style="color: red; font-weight: 900;">{{campaign.campaignStatus}}<p></p>
                        </div>
                    </div>

                    <div class="row" style="margin-left: 20px; margin-bottom: 10px;">
                        <div class="col-5" style="font-family: Arial, Helvetica, sans-serif;
                        font-weight: 800; font-size: 20px; color: #0c3c55; padding: 0px;">Стартова дата:
                        </div>
                        <div class="col-7" style="font-family: Arial, Helvetica, sans-serif;
                        font-weight: 800; font-size: 20px; color: #0c3c55; padding: 0px;">{{campaign.campaignStartDate}}
                        </div>
                    </div>

                    <div class="row" style="margin-left: 20px; margin-bottom: 10px;">
                        <div class="col-5" style="font-family: Arial, Helvetica, sans-serif;
                        font-weight: 800; font-size: 20px; color: #0c3c55; padding: 0px;">Крайна дата:
                        </div>
                        <div class="col-7" style="font-family: Arial, Helvetica, sans-serif;
                        font-weight: 800; font-size: 20px; color: #0c3c55; padding: 0px;">{{campaign.campaignEndDate}}
                        </div>
                    </div>

                    <hr style="border: 1px solid white;">

                    <div class="row" style="margin-left: 20px; margin-bottom: 10px;">
                        <div class="col-5" style="font-family: Arial, Helvetica, sans-serif;
                        font-weight: 800; font-size: 26px; color: #ba14a4; padding: 0px; margin-bottom: 15px;">Контакти:
                        </div>
                        <div class="col-7" style="font-family: Arial, Helvetica, sans-serif;
                        font-weight: 800; font-size: 26px; color: #0c3c55; padding: 0px;">
                        </div>
                    </div>

                    <div class="row" style="margin-left: 20px; margin-bottom: 10px;">
                        <div class="col-5" style="font-family: Arial, Helvetica, sans-serif;
                        font-weight: 800; font-size: 20px; color: #0c3c55; padding: 0px;">Телефон:
                        </div>
                        <div class="col-7" style="font-family: Arial, Helvetica, sans-serif;
                        font-weight: 800; font-size: 20px; color: #0c3c55; padding: 0px;">{{campaign.phoneForContacts}}
                        </div>
                    </div>

                    <div class="row" style="margin-left: 20px; margin-bottom: 10px;">
                        <div class="col-5" style="font-family: Arial, Helvetica, sans-serif;
                            font-weight: 800; font-size: 20px; color: #0c3c55; padding: 0px;">Еmail:
                        </div>
                        <div class="col-7" style="font-family: Arial, Helvetica, sans-serif;
                            font-weight: 800; font-size: 20px; color: #0c3c55; padding: 0px;"><a style="color: #0c3c55;" href="mailto:example@gmail.com">{{campaign.emailForContacts}}</a>
                        </div>
                    </div>

                    <hr style="border: 1px solid white;">

                    <div class="row" style="margin-left: 20px; margin-bottom: 10px;">
                        <div class="col-5" style="font-family: Arial, Helvetica, sans-serif;
                        font-weight: 800; font-size: 26px; color: #ba14a4; padding: 0px;">Събрани средства:
                        </div>
                        <div class="col-7" style="font-family: Arial, Helvetica, sans-serif;
                        font-weight: 800; font-size: 26px; color: #0c3c55; padding: 0px;">{{campaign.campaignCollectedMoney}} BGN
                        </div>
                    </div>

                    <hr style="border: 1px solid white;">

                    <div *ngIf="user.isAdmin && campaign.campaignStatus === 'Отворена'" class="row" style="margin-left: 20px; margin-bottom: 10px;">
                        <button id="report-btn" type="button" routerLink="/admin/edit-campaign/{{campaign.campaignId}}" class="btn btn-secondary" style="background-color: orange !important;
                        width: 90%; font-size: 18px !important; font-weight: 900; height: 50px !important; font-family: Arial, Helvetica, sans-serif; border: none;">
                        Редактирай кампанията
                        <mdb-icon fas icon="chevron-right" class="pl-2 waves-light" mdbWavesEffect></mdb-icon>
                        <mdb-icon fas icon="chevron-right" class="pl-2 waves-light" mdbWavesEffect></mdb-icon>
                        <mdb-icon fas icon="chevron-right" class="pl-2 waves-light" mdbWavesEffect></mdb-icon>
                        </button>
                    </div>

                </div>

</div>

<!-- Gallery modal -->
<div mdbModal #galleryModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            
        </div>
    </div>
</div>

<div style="margin-top: 40px; margin-left: 100px; margin-right: 100px; margin-bottom: 0px;">
    <h1 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 40px; font-weight: 900; text-align: center; color: #0c3c55;">
        Събрани предмети:
    </h1>
</div>

<section class="text-center my-5" style="padding: 0px 200px;">

    <div class="row">
        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
            <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
            <img class="img-fluid" src="./../../../../assets/top-10-books-every-22college-student-read-1024x640.jpeg" alt="Sample image" style="height: 250px; width: 100%;">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <a href="#!" class="pink-text">
            <h6 class="font-weight-bold mb-3"><mdb-icon far icon="map" class="pr-2"></mdb-icon>Учебници и книги</h6>
            </a>
            <h4 class="font-weight-bold mb-3" style="color: #0c3c55;">Брой: &nbsp;<strong>{{items.books}}</strong></h4>
        </div>

        <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
            <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
            <img class="img-fluid" src="./../../../../assets/online-clothes-shops-hero2333.jpg" alt="Sample image" style="height: 250px; width: 100%;">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <a href="#!" class="deep-orange-text">
            <h6 class="font-weight-bold mb-3"><mdb-icon fas icon="graduation-cap" class="pr-2"></mdb-icon>Дрехи</h6>
            </a>
            <h4 class="font-weight-bold mb-3" style="color: #0c3c55;">Брой: &nbsp;<strong>{{items.clothes}}</strong></h4>
        </div>

        <div class="col-lg-4 col-md-6 mb-0">
            <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
            <img class="img-fluid" src="./../../../../assets/Good_Food_Display_-_NCI_Visuals_Online.jpg" alt="Sample image" style="height: 250px; width: 100%;">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <a href="#!" class="blue-text">
            <h6 class="font-weight-bold mb-3"><mdb-icon fas icon="fire" class="pr-2"></mdb-icon>Храна</h6>
            </a>
            <h4 class="font-weight-bold mb-3" style="color: #0c3c55;">Брой: &nbsp;<strong>{{items.food}}</strong></h4>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
            <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
            <img class="img-fluid" src="./../../../../assets/download.jpg" alt="Sample image" style="height: 250px; width: 100%;">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <a href="#!" class="pink-text">
            <h6 class="font-weight-bold mb-3"><mdb-icon far icon="map" class="pr-2"></mdb-icon>Играчки</h6>
            </a>
            <h4 class="font-weight-bold mb-3" style="color: #0c3c55;">Брой: &nbsp;<strong>{{items.toys}}</strong></h4>
        </div>

        <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
            <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
            <img class="img-fluid" src="./../../../../assets/22222222.jpg" alt="Sample image" style="height: 250px; width: 100%;">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <a href="#!" class="deep-orange-text">
            <h6 class="font-weight-bold mb-3"><mdb-icon fas icon="graduation-cap" class="pr-2"></mdb-icon>Уреди</h6>
            </a>
            <h4 class="font-weight-bold mb-3" style="color: #0c3c55;">Брой: &nbsp;<strong>{{items.devices}}</strong></h4>
        </div>

        <div class="col-lg-4 col-md-6 mb-0">
            <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
            <img class="img-fluid" src="./../../../../assets/22222222222222.jpg" alt="Sample image" style="height: 250px; width: 100%;">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <a href="#!" class="blue-text">
            <h6 class="font-weight-bold mb-3"><mdb-icon fas icon="fire" class="pr-2"></mdb-icon>Домашни потребности</h6>
            </a>
            <h4 class="font-weight-bold mb-3" style="color: #0c3c55;">Брой: &nbsp;<strong>{{items.houseneeds}}</strong></h4>
        </div>
    </div>
</section>

<div *ngIf="campaign.campaignStatus === 'Затворена'" style="margin-top: 20px; margin-left: 100px; margin-right: 100px; margin-bottom: 10px;">
    <h1 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 40px; font-weight: 900; text-align: center; color: #0c3c55;">
        Победители:
    </h1>
</div>

<div *ngIf="campaign.campaignStatus === 'Затворена'" class="row" style="padding: 30px 200px;">

    <div class="col-md-4">
        <mdb-card class="testimonial-card">
            <div class="card-up indigo lighten-1">
            </div>
            <div class="avatar mx-auto" style="margin-top: 15px;">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle">
            </div>
    
            <mdb-card-body style="margin: 0px; margin-top: 15px;">
                <mdb-card-title>
                    <h4 style="text-align: center; color: #0c3c55; font-weight: 700; font-size: 22px;">Марина Маринова</h4>
                </mdb-card-title>
                <hr>
                <p style="text-align: center; color: #0c3c55; font-weight: 600; font-size: 28px;">Второ място</p>
                <p style="text-align: center; color: #0c3c55; font-weight: 600; font-size: 20px;">Точки: 255</p>
                <p style="text-align: center; color: #0c3c55; font-weight: 600; font-size: 20px;">Брой дарени неща: 15</p>
            </mdb-card-body>
        </mdb-card>
    </div>

    <div class="col-md-4">
        <mdb-card class="testimonial-card">
            <div class="card-up indigo lighten-1">
            </div>
            <div class="avatar mx-auto" style="margin-top: 15px;">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20%283%29.jpg" class="rounded-circle" style="width: 250px; height: 250px;">
            </div>
    
            <mdb-card-body style="margin: 0px; margin-top: 15px;">
                <mdb-card-title>
                    <h4 style="text-align: center; color: #0c3c55; font-weight: 700; font-size: 22px;">Петканa Петкановa</h4>
                </mdb-card-title>
                <hr>
                <p style="text-align: center; color: #0c3c55; font-weight: 600; font-size: 28px;">Първо място</p>
                <p style="text-align: center; color: #0c3c55; font-weight: 600; font-size: 20px;">Точки: 500</p>
                <p style="text-align: center; color: #0c3c55; font-weight: 600; font-size: 20px;">Брой дарени неща: 35</p>
            </mdb-card-body>
        </mdb-card>
    </div>

    <div class="col-md-4">
        <mdb-card class="testimonial-card">
            <div class="card-up indigo lighten-1">
            </div>
            <div class="avatar mx-auto" style="margin-top: 15px;">
            <img src="https://mdbootstrap.com/img/Photos/Others/men.jpg" class="rounded-circle" style="width: 250px; height: 250px;">
            </div>
    
            <mdb-card-body style="margin: 0px; margin-top: 15px;">
                <mdb-card-title>
                    <h4 style="text-align: center; color: #0c3c55; font-weight: 700; font-size: 22px;">Васил Василев</h4>
                </mdb-card-title>
                <hr>
                <p style="text-align: center; color: #0c3c55; font-weight: 600; font-size: 28px;">Трето място</p>
                <p style="text-align: center; color: #0c3c55; font-weight: 600; font-size: 20px;">Точки: 200</p>
                <p style="text-align: center; color: #0c3c55; font-weight: 600; font-size: 20px;">Брой дарени неща: 14</p>
            </mdb-card-body>
        </mdb-card>
    </div>
</div>
