<div class="d-flex justify-content-center" style="margin-top: 40px;">
    <p style="font-weight: 900; font-size: 40px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #0c3c55;">Резервирай удобен за теб час!</p>
</div>

<div class="row text-center" style="margin-top: 30px;">
    <div class="col-md-4">
        <div class="btn-group">
            <div
                class="btn btn-primary"
                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()"
                >Предишен
            </div>
            <div
                class="btn btn-outline-secondary"
                mwlCalendarToday
                [(viewDate)]="viewDate"
                >Днес
            </div>
            <div
                class="btn btn-primary"
                mwlCalendarNextView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()"
                >Следващ
            </div>
        </div>
    </div>
    <div class="col-md-4"><h1 style="font-weight: 600; color: #0c3c55;">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h1></div>
    <div class="col-md-4">
        <div class="btn-group">
            <div
            class="btn btn-primary"
            (click)="setView(CalendarView.Month)"
            [class.active]="view === CalendarView.Month"
            >
            Месец
            </div>
            <div
            class="btn btn-primary"
            (click)="setView(CalendarView.Week)"
            [class.active]="view === CalendarView.Week"
            >
            Седмица
            </div>
            <div
            class="btn btn-primary"
            (click)="setView(CalendarView.Day)"
            [class.active]="view === CalendarView.Day"
            >
            Ден
            </div>
        </div>
    </div>
</div>
<br/>

<!-- <div class="row">
    <div class="col-12" style="text-align-last: center">
        <button class="btn btn-primary" (click)="testAdd()">
            <mdb-icon fas icon="undo-alt"></mdb-icon>
        </button>
    </div>
</div> -->

<div [ngSwitch]="view" style="margin: 40px 120px;">
    <mwl-calendar-month-view
        *ngSwitchCase="CalendarView.Month"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
        *ngSwitchCase="CalendarView.Week"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
        *ngSwitchCase="CalendarView.Day"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        >
    </mwl-calendar-day-view>
</div>
    
    
<!-- Everything you see below is just for the demo, you don't need to include it in your app -->

<h3 style="padding: 0 120px; color: #0c3c55; font-weight: 600;">
        Редактиране
        <button class="btn btn-primary float-right" (click)="addEvent()">
        Добави
        </button>
        <div class="clearfix"></div>
</h3>

<div class="table-responsive" style="padding: 40px 120px;">
    <table class="table table-bordered">
        <thead>
            <tr>
            <th>Title</th>
            <th>Primary color</th>
            <th>Secondary color</th>
            <th>Starts at</th>
            <th>Ends at</th>
            <th>Remove</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let event of events">
                <td>
                    <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="event.title"
                    (keyup)="refresh.next()"
                    />
                </td>
                <td>
                    <input
                    type="color"
                    [(ngModel)]="event.color.primary"
                    (change)="refresh.next()"
                    />
                </td>
                <td>
                    <input
                    type="color"
                    [(ngModel)]="event.color.secondary"
                    (change)="refresh.next()"
                    />
                </td>
                <td>
                    <input
                    class="form-control"
                    type="text"
                    mwlFlatpickr
                    [(ngModel)]="event.start"
                    (ngModelChange)="refresh.next()"
                    [altInput]="true"
                    [convertModelValue]="true"
                    [enableTime]="true"
                    dateFormat="Y-m-dTH:i"
                    altFormat="F j, Y H:i"
                    [options]="datePickerOptions"
                    placeholder="Not set"
                    />
                </td>
                <td>
                    <input
                    class="form-control"
                    type="text"
                    mwlFlatpickr
                    [(ngModel)]="event.end"
                    (ngModelChange)="refresh.next()"
                    [altInput]="true"
                    [convertModelValue]="true"
                    [enableTime]="true"
                    dateFormat="Y-m-dTH:i"
                    altFormat="F j, Y H:i"
                    [options]="datePickerOptions"
                    placeholder="Not set"
                    />
                </td>
                <td>
                    <button class="btn btn-danger" (click)="deleteEvent(event)">
                    Изтрий
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="events.length > 0" class="d-flex justify-content-center" style="margin-bottom: 50px; margin-top: 0px;">
    <button
        type="button"
        class="btn btn-primary btn-lg"
        (click)="confirm()"
        style="width: 170px; margin-left:10px; margin-top: 5px; height: 68px; width: 300px; background-color: #0c3c55 !important;"
    >Запази</button>
</div>

<ng-template #modalContent let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">Event action occurred</h5>
        <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            Action:
            <pre>{{ modalData?.action }}</pre>
        </div>
        <div>
            Event:
            <pre>{{ modalData?.event | json }}</pre>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="close()">
            OK
        </button>
    </div>
</ng-template>
