<div style="margin-top: 40px; margin-left: 100px; margin-right: 100px; margin-bottom: 30px;">
    <h1 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 40px; font-weight: 900; text-align: center; color: #0c3c55; padding-bottom: 20px;">
        Заявки за преглед:
    </h1>
</div>

<div class="row" style="margin: 30px;">
    <div class="row" style="display: contents;">
        
        <div class="col-sm-3" style="padding-bottom: 30px;" *ngFor="let req of userRequests; index as i;">
            <mdb-card style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg')" class="card-image">
                <div class="text-white text-center align-items-center rgba-black-strong py-5 px-4">
                    <div>
                    <h5 class="white-text">
                        <mdb-icon fas icon="chart-pie"></mdb-icon>№ {{req.requestNumber}}
                    </h5>
                    <h3 class="card-title pt-2" style="color: orange;"><strong>{{req.requestStatus}}</strong></h3>
                    <h4>
                        Дата: {{req.requestDate}}
                    </h4>
                    <a mdbBtn color="blue" class="waves-light" mdbWavesEffect style="width: 200px;" (click)="viewReq(req.requestId)">
                        <mdb-icon far icon="clone" class="left"></mdb-icon>
                        Преглед</a>
                    </div>
                </div>
            </mdb-card>
        </div>
    </div>
</div>

<div *ngIf="userRequests.length === 0 && filtersLoaded | async" style="margin-top: 50px; margin-left: 100px; margin-right: 100px; margin-bottom: 50px;">
    <h1 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 36px; font-weight: 900; text-align: center; color: red;">
        Съжаляваме, нямате текущи заявки за преглед към този момент!
    </h1>
</div>