body {
    background-image: url("././assets/50-Beautiful-and-Minimalist-Presentation-Backgrounds-03.jpg");
    background-size:cover;
}

.navbar {
    padding: 15px;
}

.nav-item {
    padding: 8px 12px 8px 10px;
}

.nav-text {
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.nav-text-right {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

html {
  overflow-x: hidden;
}
