<div style="margin-top: 50px; margin-left: 100px; margin-right: 100px; margin-bottom: 0px;">
    <h1 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 36px; font-weight: 900; text-align: center; color: #0c3c55;">
        Нашите центрове:
    </h1>
</div>

<div  style="margin-bottom: 0px; margin-left: 100px; margin-right: 100px;">
    <div class="row" style="justify-content: space-around;">
        <div class="input-group md-form form-sm form-2 pl-0" style="height: 50px; width: 60%; background-color: white;">
            <input id="search-value" class="form-control my-0 py-1 red-border" type="text" placeholder="Въведи област, в която търсиш центрове..." aria-label="Search">
            <div class="input-group-append">
                <span class="input-group-text lighten-3" (click)="searchSpecificEstate()" 
                style="color: #0c3c55; background-color: #1495ba; cursor: pointer; width: 70px; justify-content: space-around;">
                <i class="fas fa-search text-grey"aria-hidden="true"></i>
                </span>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isAdmin === true" class="d-flex justify-content-center" style="margin-bottom: 30px;">
    <button
        type="button"
        class="btn btn-primary btn-lg"
        (click)="confirmAdd()"
        style="width: 170px; margin-left:10px; margin-top: 5px; height: 68px; width: 250px; background-color: #0c3c55 !important;"
    >Добави център</button>
</div>

<div class="row" style="margin: 30px;">
    <div class="row" style="display: contents;">

        <div class="col-sm-3" *ngFor="let center of centers; index as i;">
            <div style="padding-bottom: 30px;">
                <mdb-card style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg')" class="card-image">
                    <div class="text-white text-center align-items-center rgba-black-strong py-5 px-4">
                        <div>
                            <h5 class="pink-text">
                                <mdb-icon fas icon="chart-pie"></mdb-icon>{{center.__centerArea__.areaName}}
                            </h5>
                            <h3 class="card-title pt-2"><strong>{{center.centerAddress}}</strong></h3>
                        <p>
                            Повече информация за центъра ще се слага тук!
                        </p>
                        <a mdbBtn color="blue" href="{{center.centerLink}}" target="_blank" class="waves-light" mdbWavesEffect style="width: 220px;">
                            <mdb-icon far icon="clone" class="left"></mdb-icon>
                            Виж на картата</a>
                        
                        <a *ngIf="isAdmin === false" (click)="redirect(center.centerId)" mdbBtn color="purple" class="waves-light" mdbWavesEffect style="width: 220px;">
                            <mdb-icon far icon="clone" class="left"></mdb-icon>
                            Направи заявка</a>
                        <br>
                        
                        <a *ngIf="isAdmin === true" mdbBtn color="yellow" class="waves-light" mdbWavesEffect style="width: 220px;" routerLink="/admin/edit-center/{{center.centerId}}">
                            <mdb-icon far icon="clone" class="left"></mdb-icon>
                            Редактирай</a>
                        <br>
                        <a *ngIf="isAdmin === true" (click)="deleteCenter(center.centerId)" mdbBtn color="red" class="waves-light" mdbWavesEffect style="width: 220px;">
                            <mdb-icon far icon="clone" class="left"></mdb-icon>
                            Изтрий центъра</a>
                        </div>
                    </div>
                </mdb-card>
            </div>
        </div>
    </div>
</div>

<div *ngIf="centers.length === 0 && filtersLoaded | async" style="margin-top: 50px; margin-left: 100px; margin-right: 100px; margin-bottom: 50px;">
    <h1 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 36px; font-weight: 900; text-align: center; color: red;">
        Съжаляваме, няма намерени центрове в тази област!
    </h1>
</div>
