<div id="notfound">
  <div class="notfound">
    <div class="notfound-404">
      <h1>Unauthorised!</h1>
    </div>
    <!-- <h2>Unauthorised!</h2> -->
    <a (click)="goBack()">Go Back</a>
  </div>
</div>
